<template>
  <div class="about-page">
    <v-container >
      <v-layout align-center justify-center row wrap >
        <v-flex xs12 sm6 v-for="(item, i) in items" :key="i" text-xs-center>
          <v-card flat :height="460">
            
              <svg width="46" height="46" v-if="item.icon" >       
                <image :xlink:href="item.icon" :src="item.icon" width="46" height="46" />
              </svg>
              <v-card-title class="text-xs-center">
                <h5>{{item.title}}</h5>
                 <img src="~assets/img/arrow.svg" width="19" height="19" alt="arrow" class="arrowdown" />
              </v-card-title>
              <img :src="item.img" :alt="item.title" height="212" />          
              <v-card-text>
                {{item.text}}
              </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid class="bg-about-content about-claimblock">
      <v-layout align-center justify-center row wrap >
        <v-flex xs12 sm12 md6>
          <h3>Зарабатывайте <br/> <strong>больше</strong></h3>
          <div class="arrowdown-block">
            <img src="~assets/img/arrow.svg" width="19" height="19" alt="arrow" class="arrowdown" />
          </div>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row wrap >
        <v-flex xs12 sm12 md6 text-xs-center class="slogan-row-block" >
          <h2>
            Вы ещё не с нами ?
            <p>присоединяйтесь!</p>
          </h2>
        </v-flex>
      </v-layout>
        <ownerclaim></ownerclaim>
      <v-layout align-center justify-center row wrap >
        <v-flex xs12 class="about-claimcontent">
          Бесплатно размещайте Ваш объект на сайте и принимайте гостей чаще.
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid  class="partners-block" >
      <v-layout row wrap text-xs-center >
        <v-flex xs12>
          <h2>на постоянной основе сотрудничаем с:</h2>
        </v-flex>
        <v-flex xs12 class="partneritems">
          <div v-for="(item, i) in partnersItem" :key="i" class="partneritem">
            <img :src="item.img" height="22" />
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    <reviews :items="reviewItems" v-if="reviewItems.length"  :sendUrl="reviewCreateUrl" ></reviews>
    <div id="aboutmap-block">
      <no-ssr>
        <aboutMap :currentItem="appSettings" v-if="!loadSettings" ></aboutMap >
      </no-ssr>
    </div>
  </div>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {parseParams, parseQueryParams} from 'utils/index'
import NoSSR from 'vue-no-ssr'

export default {
  asyncData({ store, route }) {
  
    
    store.dispatch('setPageDataParams',  {
      headerCssClass: ['bg-about'],
      subTitle: 'Ваш досуг – наши заботы',
      subTitleSlogan: null,
      subTitleText: null,
      showclaim: false,
      showtitlecontent: true,
      showOwnerClaim: false,
    })

    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
      store.dispatch('getSiteReviews'),
    ])
  },
  beforeRouteUpdate (to, from, next) {
  },
  components: {
    'no-ssr': NoSSR,
   reviews: () => import('components/reviews'),
   aboutMap: () => import('components/aboutMap'),
   ownerclaim: () => import('components/ownerClaim'),
  },
  data() {
    return {
      claimitems: [
        { icon: 'fa-users', iconClass: 'basecolor white--text', title: 'большой поток клиентов' },
        { icon: 'fa-cloud-upload', iconClass: 'basecolor white--text', title: 'бесплатное размещение на сайте' },
        { icon: 'fa-thumbs-o-up', iconClass: 'basecolor white--text', title: 'бесплатная помощь' }
      ],
      items: [
        {
          icon: require('assets/img/home.svg'), 
          title: 'Более 250 объектов с фото и подробным описанием', 
          img: require('assets/img/about1.png'), 
          text: 'Выбирайте нужную категорию и наслаждайтесь поиском дома в каталоге или прямо на карте.'
        },
        {
          icon: require('assets/img/percent.svg'), 
          title: 'Постоянные скидки', 
          img: require('assets/img/about2.png'), 
          text: 'Жмите и успевайте воспользоваться специальными предложениями.'
        },
        {
          icon: require('assets/img/thumbup.svg'), 
          title: 'Избранное ', 
          img: require('assets/img/about3.png'), 
          text: 'Отмечайте понравивщиеся варианты и сравнивайте их в отдельном списке.'
        },
        {
          icon: require('assets/img/ok.svg'), 
          title: 'Быстрая заявка', 
          img: require('assets/img/about4.png'), 
          text: 'Экономьте своё время: мы сами найдём для Вас дом, учитывая все пожелания. '
        },
        {
          icon: require('assets/img/door.svg'), 
          title: 'Мгновенное бронирование', 
          img: require('assets/img/about5.png'), 
          text: 'Читайте отзывы и бронируйте онлайн на выгодных условиях.'
        },
      ],
      claimform: {
        name: '',
        phone: '+7-',
        email: '',
        valid: true,
      },
      notEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
      ],
      phoneEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
        // (v) => !!v &&  'Поле должно содержать 16 символов',
      ],
      emailRules: [
        function(v) {
          if (v) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'email должно содержать валидный адрес'
          }
          return  !!v || 'Это обязательное поле'
        }
      ],
      partnersItem: [
        {img: require('assets/img/partner1.png'), title: ''},
        {img: require('assets/img/partner2.png'), title: ''},
        {img: require('assets/img/partner3.png'), title: ''},
        {img: require('assets/img/partner4.png'), title: ''},
        {img: require('assets/img/partner5.png'), title: ''},
        {img: require('assets/img/partner6.png'), title: ''},
        {img: require('assets/img/partner7.png'), title: ''},
        {img: require('assets/img/partner8.png'), title: ''},
      ],
      loadingClaim: false,
    }
  },
  mounted() {
    this.$store.dispatch('getSiteReviews')
  },
  updated() {
    console.log('updated', '====updated')
  },
  computed: {

    reviewItems() {
      return this.$store.state.reviews
    },
    loadReviews() {
      return this.$store.state.loadReviews
    },
    appSettings() {
      return this.$store.state.appSettings
    },
    loadSettings() {
      return this.$store.state.loadSettings
    },
    reviewCreateUrl(){
      return apiUrls.REVIEW.SITE
    }
  },
  methods: {
    sendClaim() {

      if (this.$refs.claimformself.validate() && !this.loadingClaim) {
        this.loadingClaim = true
        this.$http.post(apiUrls.CLAIM.ADD_OWNER, this.claimform).then( resp => {
          console.log(resp)
          this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Ваша заявка принята'}])
          this.$refs.claimformself.reset()
        }).catch( err => {

        }).finally( () => {
          this.loadingClaim = false
        })
      }
    }
  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
.about-page {
  .theme--light.v-list {
    background: none;
  }
  .partners-block {
    h2 {
      font-size: 18px;
      color: #979898;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
    }
    .partneritems {
      margin: 50px 0;
    }
    .partneritem {
      display: inline-block;
      padding: 0 4px;
    }
  }
  .slogan-row-block {
    position: relative;

  }
  .claimitems-additinal .v-list__tile__title{
    text-transform: uppercase;
    color: $white;
  }



  .v-card {
    background-color: #fafafa;
    .v-card__title {
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      font-family: "DejaVu Sans";
      font-weight: 200;
      height: 111px;

      h5 {
        display: block;
        width: 100%;
      }
      .arrowdown {
        width: 100%;
        display: block;
      }
    }
    .v-card__text {
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
    }
  }
  .about-claimcontent {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-family: "DejaVu Sans";
    font-weight: 200;
    text-align: center;
    margin-top: 5px;
  }
  .about-claimblock {
    h3 {
      font-size: 24px;
      line-height: 30px;
      color: $white;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;

      strong {
        white-space: pre-line;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    h2 {
      color: $secondcolor;
      text-transform: uppercase;
      p {
        font-weight: 700;
      }
    }
    .arrowdown-block {
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
</style>
