<template>
  <div class="entity-page">
    <v-container fluid class="no-padding entity-subpans">
      <v-layout row wrap>
        <v-flex xs12 class="entity-submenu">
          <v-container class="entity-submenu no-padding">
            <v-layout row wrap text-xs-center>
              <v-flex xs12>
                <ul >
                  <li v-for="(item, i) in subpansItems" :key="i"  @click="$vuetify.goTo(item.scrollTo, scrollOptions)">{{item.title}}</li>
                </ul>      
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container  class="no-padding">
      <v-layout row wrap>
        <v-flex xs12>
          <ul class="v-breadcrumbs theme--light">
            <li><a href="/" class="v-breadcrumbs__item">каталог</a></li>
            <li class="v-breadcrumbs__divider">&gt;</li>
            <li><a href="breadcrumbs_link_1" class="v-breadcrumbs__item">страница объекта</a></li>
          </ul>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container  class="no-padding" v-if="!loadDetailEntity">
      <v-layout row wrap>
        <v-flex xs12 >
          <h1>{{detailEntity.title}}</h1>
          <span v-for="attr in detailEntity.show_attributes.bool_attrs" :key="attr.id" class="icon-list" >
            <svg width="36" v-if="attr.img_url" >       
              <image :xlink:href="attr.img_url" :src="attr.img_url" width="36"  />
            </svg>
            <v-icon v-else-if="attr.icon">fa-{{attr.icon}}</v-icon>
          </span>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 id="entity-photo" v-if="detailEntity.id" >
            <v-carousel hide-delimiters v-model="activeItem">
              <v-carousel-item
                v-for="(imgUrl,i) in detailEntity.imgs"
                :key="i"
                :src="imgUrl"
              ></v-carousel-item>
            </v-carousel>
            <v-container class="pl-0 pr-0 imgslider-block">
              <div class="imgslider-change imgslider-change-left" v-on:click="changeControl('left')" v-if="detailEntity.imgs.length > 6">
                <v-icon color="white" v-if="slideControl.left">fa-angle-left</v-icon>
              </div>
              <v-layout row >
                <v-flex
                  v-for="imgUrl in sliderImgs"
                  :key="imgUrl"
                  xs2
                  class="imgslider-item"
                >
                  <v-img
                    :src="imgUrl"
                    height="90px"
                  ></v-img>
                </v-flex>
              </v-layout>
              <div class="imgslider-change imgslider-change-right" v-on:click="changeControl('right')" v-if="detailEntity.imgs.length > 6">
                <v-icon color="white" v-if="slideControl.right < detailEntity.imgs.length-1">fa-angle-right</v-icon>
              </div>
            </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container  v-if="!loadDetailEntity" >
      <v-layout row wrap id="entity-howitrent" >
        <v-flex xs12 sm12 md5 >
          <v-container class="no-padding">
           
            <v-layout row wrap class="pt-2 date-range-inputs">
              <v-flex xs5 >
                  <v-text-field
                    solo
                    prepend-inner-icon="fa-calendar"
                    v-model="currentFilter.stay_date.gte"
                    class=""
                              mask="##/##/####"
                              return-masked-value
                    ></v-text-field>
                </v-flex>
                <v-flex xs1 class="between-date-arrow">
                  <v-icon color="basecolor">fa-long-arrow-right</v-icon>
                </v-flex>
                <v-flex xs5>
                  <v-text-field
                    solo
                    prepend-inner-icon="fa-calendar"
                    v-model="currentFilter.stay_date.lte"
                    class=""
                              mask="##/##/####"
                              return-masked-value
                    ></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout row wrap class="pt-2">
              <v-flex xs6 class="title-weekday">
                Стоимость будни 
              </v-flex>
              <v-flex xs6  class="title-price">
                {{detailEntity.price_workday}}
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6 class="title-weekday">
                Стоимость выходные
              </v-flex>
              <v-flex xs6 class="title-price">
                {{detailEntity.price_holyday}}
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12 sm12 md7 class="daterangeblock">
          <v-container class="no-padding">
                 <daterange
                    :options="dateRangeOptions"
                    header-color="secondcolor"
                    locale="ru-ru"
                    :first-day-of-week="1"
                    no-title
                    prev-icon="fa-arrow-left"
                    next-icon="fa-arrow-right"
                    @input="onDateRangeChange"
                  />
                </daterange>
          </v-container>
        </v-flex>

        <div class="rotateblock-btn" @click="openClaim">
          <span class="rotate">бронировать</span>
        </div>
      </v-layout>

      <v-layout  align-center justify-center row fill-height >
        <v-flex xs12 sm4 md3 lg2 >
          <claimentity  v-if="detailEntity.id" :entity="detailEntity" ref="entityclaim"></claimentity>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid class="info-title-block" v-for="attr in detailEntity.show_attributes.DETAIL" :key="attr.id"
     v-if="attr.rel_value" :id="`entity-attr-${attr.slug}`" >
      <v-layout row wrap align-center justify-start >
        <v-flex xs12 >
          <div class="info-titles" >
            <span>{{attr.title}}:</span>  
          </div>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 >
          <v-container  >
            <v-layout row wrap>
              <v-flex xs12 >
                  {{attr.rel_value}}
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <reviews :items="detailEntity.reviews" :sendUrl="reviewCreateUrl"  v-if="detailEntity.id"></reviews>
    <v-container fluid class="no-padding">
      <v-layout row wrap>
        <v-flex xs12 id="entity-map">
          <no-ssr>
           <entitymap :currentItem="detailEntity" v-if="detailEntity.id"></entitymap>
          </no-ssr>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container class="advantage-block no-padding" v-if="detailEntity.id" >
      <v-layout align-center justify-center  wrap >
        <v-flex xs12 sm6 md3 text-xs-center >
          <h4 class="center-advantage">онлайн бронирование</h4>
        </v-flex>
      </v-layout>
      <v-layout  row justify-center wrap >
        <v-flex xs12 sm6 md4  class="advantage-block-item">

          <v-list three-line>
            <template >
              <v-list-tile avatar >
                <v-list-tile-avatar  :size="60" >
                  <img src="~assets/img/timeent.svg" alt="ЭКОНОМИЯ ВРЕМЕНИ">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title >ЭКОНОМИЯ ВРЕМЕНИ</v-list-tile-title>
                  <v-list-tile-sub-title >онлайн бронирование займет 5 минут</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar >
                <v-list-tile-avatar  :size="60" >
                  <img src="~assets/img/cardent.svg" alt="">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title >ЛЮБЫЕ СПОСОБЫ ОПЛАТЫ</v-list-tile-title>
                  <v-list-tile-sub-title >VISA, MasterCard, WebMoney, Яндекс.Деньги, QIWI, Сбербанк</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
        <v-flex xs12 sm6 md4  class="advantage-block-item" >
          <v-list three-line>
            <template >
              <v-list-tile avatar >
                <v-list-tile-avatar :size="60" >
                  <img src="~assets/img/moneyent.svg" height="30px" alt="ЭКОНОМИЯ ВРЕМЕНИ">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title >НЕБОЛЬШАЯ СУММА БРОНИРОВАНИЯ</v-list-tile-title>
                  <v-list-tile-sub-title >оплачиваете только 20% стоимости аренда</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar   >
                <v-list-tile-avatar  :size="60" >
                  <img src="~assets/img/chatent.svg" alt="">
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title >Мы договоримся с собственником о Вашей встрече</v-list-tile-title>
                  <v-list-tile-sub-title >и проконтролируем безопасное заселение</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
      </v-layout>
      <v-layout  row justify-center >
        <v-flex xs12 sm6 md3 text-xs-center >
          <h4 class="center-advantage">при просмотре</h4>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center row wrap >
        <v-flex xs12 sm4 md3  text-xs-center >

          <v-list two-line>
            <template >
              <v-list-tile avatar >
                <v-list-tile-avatar  :size="60" >
                  <img src="~assets/img/sandtime.svg" alt="Тратите время на поездку">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <div class="sptitle">Тратите время на поездку</div>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
        <v-flex xs12 sm4 md3 text-xs-center >

          <v-list three-line>
            <template >
              <v-list-tile avatar >
                <v-list-tile-avatar :size="60" >
                  <img src="~assets/img/half.svg" height="30px" alt="оплачиваете до 50% стоимости аренды">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <div class="sptitle">оплачиваете до 50% стоимости аренды</div>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
        <v-flex xs12 sm4 md3 text-xs-center >

          <v-list three-line>
            <template >
              <v-list-tile avatar >
                <v-list-tile-avatar :size="60" >
                  <img src="~assets/img/handmoney.svg" height="30px" alt="Как правило, оплата только наличными">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <div class="sptitle">Как правило, оплата только наличными</div>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>
      </v-layout>
    </v-container>
    <no-ssr>
      <v-container class="related-block pl-0 pr-0" v-if="!loadDetailEntity && !!detailEntity.related_entitys" >
        <entitySlider :items="detailEntity.related_entitys" v-if="detailEntity.related_entitys.length"></entitySlider>
      </v-container>
    </no-ssr>

  </div>
</template>
<script>
import { format, subDays, addDays } from 'date-fns';

import apiUrls from 'router/apiUrls'
import NoSSR from 'vue-no-ssr'
import { truncate, formatMoney, stringToDate } from 'utils/index'

export default {
  asyncData({ store, route }) {

    store.dispatch('setPageDataParams', {
      headerCssClass: [],
        subTitle: null,
        insubTitle: null,
        extrasubTitle: null,
        subTitleSlogan: null,
        subTitleText: null,
        showtitlecontent: null,
        showclaim: null,
        showOwnerClaim: false,
    })

    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
      store.dispatch('getDetailEntity', route.params.slug),
    ])
  },
  components: {
    'no-ssr': NoSSR,
    carousel:  () => import('components/slider'),
    entitymap:  () => import('components/entityMap'),
    daterange:  () => import('components/_dateRange'),
    reviews:  () => import('components/reviews'),
    claimentity:  () => import('components/claimEntity'),
    entitySlider:  () => import('components/_catalogBlockSlider'),
  },
  data() {
    return {
      bc: [{
          text: 'Каталог',
          disabled: false,
          href: '/'
            },
            {
              text: 'Страница объекта',
              disabled: true,
              href: '/'
            },
          ],
      start_dt: null,
      end_dt: null,
      
      subpansItems: [
        {title: 'фото', scrollTo: '#entity-photo'},
        {title: 'как забронировать', scrollTo: '#entity-howitrent'},
        {title: 'описание', scrollTo: '#entity-attr-opisanie'},
        {title: 'отзывы', scrollTo: '.review-block'},
        {title: 'карта', scrollTo: '#entity-map'},
      ],
      scrollOptions: {
        duration: 300,
        offset: -100,
        easing: 'easeInOutCubic',
      },
      activeItem: 0,
      slideControl: {
        left: 0,
        right: 6,
      }
    }
  },
  mounted() {

  },
  updated() {
  },
  computed: {
    dateRangeOptions() {
      return {
        startDate: format(this.stay_date[0] ? stringToDate(this.stay_date[0], "dd/MM/yyyy", "/") : addDays(new Date(), 1), 'YYYY-MM-DD'),
        endDate: format(this.stay_date[1] ? stringToDate(this.stay_date[1], "dd/MM/yyyy", "/") : addDays(new Date(), 30), 'YYYY-MM-DD'),
        minDate: format(new Date(), 'YYYY-MM-DD'),
        maxDate: format(addDays(new Date(), 30), 'YYYY-MM-DD'),
        format: 'DD/MM/YYYY',
      }
    },
    currentFilter: {
      get() {
        return this.$store.state.paramFilters
      },
      set(filters) {
        this.$store.dispatch('setParamFiltersByName', filters)
      
      }
    },
    stay_date: {
      get() {
        return [this.currentFilter.stay_date.gte, this.currentFilter.stay_date.lte]
      },
      set(newValue) {
        this.currentFilter.stay_date.gte = newValue[0] 
        this.currentFilter.stay_date.lte = newValue[1] 
      }
    },
    loadDetailEntity() {
      return this.$store.state.loadDetailEntity
    },
    detailEntity() {
      return this.$store.state.detailEntity
    },
    reviewCreateUrl(){
      return apiUrls.REVIEW.ENTITY_GET(this.detailEntity.id)
    },
    sliderImgs() {
      return this.detailEntity.imgs.slice(this.slideControl.left, this.slideControl.right)
    }
  },
  methods: {
    truncate,
    formatMoney,
    onDateRangeChange(v) {
      v[0] = format(new Date(v[0]), 'DD/MM/YYYY')
      v[1] = format(new Date(v[1]), 'DD/MM/YYYY')
      this.stay_date = v
      console.log(v)
    },
    changeControl(side) {
      if (side === 'right') {

        if (this.slideControl.right !== this.detailEntity.imgs.length - 1)  {
          this.slideControl.right++
          this.slideControl.left++
        }
      } else {
        if (this.slideControl.left)  {
          this.slideControl.left--
          this.slideControl.right--
        }
      }
    },
    openClaim() {
      this.$refs.entityclaim.toogleDialog()
      console.log()
    }
  },
  metaInfo () {
    if (this.loadDetailEntity) {
      return {

        title: this.loadDetailEntity ? 'Fullhouse...' : this.detailEntity.title,
        meta: []
      }
    }
    let meta = []
    for (let k in this.detailEntity.seodata) {
      if(this.detailEntity.seodata[k]) {

        meta.push({ name:  k.replace('_', ':'), content: this.detailEntity.seodata[k] })
        meta.push({ property:  k.replace('_', ':'), content: this.detailEntity.seodata[k] })
      }
    }
    return {
        title: this.detailEntity.seodata.title || this.detailEntity.title,
        meta
      }
  }


}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.entity-page {
  color: $black;
  margin-top: -60px;
  .between-date-arrow {
    margin: 10px;
  }

  .imgslider-block {
    position: relative;
    .imgslider-change {
      position: absolute;
      top: 23px;
      width: 17px;
      height: 92px;
      z-index: 1;
      background-color: $secondcolor;
      cursor: pointer;
      i {
        margin: 30px 5px;
      }
    }
    .imgslider-change-left {
      left: 0;
    }
    .imgslider-change-right {
      right: 0;
    }
    .imgslider-item {
      margin: 0 2px;
    }
  }

  

  #entity-howitrent {
    position: relative;
    .rotateblock-btn {
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        position: absolute;
      top: 63px;
      right: -88px;
      text-transform: uppercase;
      border-radius: 3px;
      background-color: $secondcolor;
        padding: 10px 20px;
      span {
        font-size: 15px;
        color: $white;
        font-family: "DejaVu Sans";
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .title-weekday {
    font-size: 18px;
    line-height: 48px;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 700;
  }

  .title-price {
    font-size: 32px;
    line-height: 48px;
    color: #d28456;
    font-family: "DejaVu Sans";
    font-weight: 700;
  }

  .entity-subpans {
    height: 40px;
    width: 100%;
    background-color: $secondcolor;
    color: $white;
    position: fixed;
    z-index: 2;
  }

  .entity-submenu {
    text-transform: uppercase;
    ul {
        margin-top: 10px;
        padding: 0;
        display:table;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        font-size: 12px;
        font-family: "DejaVu Sans";
        font-weight: 200;
        text-align: center;
    }
    li {
        display:table-cell;
        cursor: pointer;
    }
  }

  .v-breadcrumbs {
    padding: 10px;
  }
  a {
    color: $black;
  }
  h1 {
    font-size: $vw30;
    color: #686868;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    display: inline-block;
    padding-bottom: 15px; 

      @media screen and (max-width: 600px) {
        font-size: 20px;
         
      }
  }
  .icon-list {
    padding: 0 5px;
    svg {
       padding-top: 3px;
    }
    .v-icon {
      font-size: 32px;
    }
  }
  .info-title-block {
    padding-left: 0
  }
  .info-titles {
    background-color: $black;
    color: $white;
    height: 40px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Deja Vu Sans";
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    max-width: 600px;
    min-width: 300px;
    width: 30%;

    span {
      position: absolute;
      right: 157px;
      top: 9px;
    }
  }

  .headline {
    display: inline-block;
    padding-right: 20px;
  }
 
 
  .center-advantage {
    font-size: $vw20;
    color: #979898;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .advantage-block {
    .advantage-block-item {
    }
    .v-list__tile__avatar {
      min-width: 70px;
    }
    .v-avatar {
      border: 2px solid $secondcolor;
    }
    .v-avatar img {
      height: 30px;
      border-radius: 0;
    }
    .v-list__tile__title { 
      text-transform: uppercase;
    }
    .sptitle {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      font-family: "DejaVu Sans";
      font-weight: 700;
    }
  }
  .v-date-picker-table {
    padding: 0;
    td {
      border: 1px solid #8f8f8f;
      border-radius: 3px;
      button {
        width: 100%;
        display: block;
      }
    }
  }
  .theme--light.v-date-picker-table th {
    color: $white;
    background-color: $black;
  }
  table {
    border-spacing: 0;
  }
  .theme--light.v-picker__body {
    background: none;
  }
  .v-card.v-picker {
    box-shadow: none;
    background: none;
  }
  .date-range-inputs {
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot {
      box-shadow: none;
      border: 1px solid #888888;
      border-radius: 3px;
    }
  }
}

</style>
