<template>
  <div class="home-page">
    <v-container fluid>
      <v-layout row>
        <v-flex xs12> 
          <v-container class="no-padding">
            <v-layout row wrap>
              <v-flex xs12 sm4 md4 text-xs-center v-for="(item, i) in iconItems" :key="i" v-if="item.src" 
                class="icon-item-block">
                  <v-card flat >
                  <img :src="item.src" :alt="item.title" width="127" height="127" />
                    <div class="icon-title">
                      <div>
                        <p>{{item.title}}</p>
                      </div>
                    </div>
                  </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container class="no-padding">
      <catalog></catalog>
    </v-container>
  </div>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {parseParams, parseQueryParams} from 'utils/index'

export default {
  asyncData({ store, route }) {
    let query = Object.assign({}, route.query)
    let paramFilters = parseQueryParams(
                          query, 
                          Object.assign({}, store.state.paramFilters),
                           true)
    paramFilters.page = parseInt(paramFilters.page) ? parseInt(paramFilters.page) : 1
    paramFilters.len_share = parseInt(paramFilters.len_share) ? parseInt(paramFilters.len_share) : null
    paramFilters.search = paramFilters.search || null
    paramFilters.ordering = paramFilters.ordering || null
    for(let arrayParam of ['entitytype', 'BoolAttr']) {
      if (!Array.isArray(paramFilters[arrayParam])) {
        paramFilters[arrayParam] = paramFilters[arrayParam] ? [paramFilters[arrayParam]] : []
      }
    }
    
    store.dispatch('setPageDataParams',  {
      headerCssClass: ['bg-home'],
      subTitle: 'Сервис посуточной аренды коттеджей',
      insubTitle: {
        simple: 'бронируйте жильё для отдыха с комиссией ',
        strong: '0%',
      },
      subTitleSlogan: null,
      subTitleText: null,
      showclaim: true,
      showtitlecontent: false,
      showOwnerClaim: false,
    })

    let activeView = store.state.activeView
    if (~Object.keys(store.state.viewChoice).indexOf(query.activeView)) {
      activeView = query.activeView
    }
    store.dispatch('setParamFilters', paramFilters)
    
    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
      store.dispatch('getEntityData', paramFilters),
      store.dispatch('getFilterData'),
      store.dispatch('setSimpleState', {stateName: 'activeView', stateValue: activeView}),
    ])
  },
  beforeRouteUpdate (to, from, next) {
    this.$store.dispatch('getEntityData', this.$store.state.paramFilters)
          next()
  },
  components: {
    catalog: () => import('components/catalog')
  },
  data() {
    return {
      iconItems: [
        {src: require('assets/img/icon1.png'), title: 'Все объекты города и области' },
        {src: require('assets/img/icon2.png'), title: 'Без комиссии' },
        {src: require('assets/img/icon3.png'), title: 'мгновенное бронирование' },
      ]
    }
  },
  mounted() {
    console.log('updated', '====updated')
  },
  updated() {
    let query = Object.assign({}, this.$route.query)
    console.log(query.activeView, this.activeView)
    if (query.activeView) {
      if (~Object.keys(this.$store.state.viewChoice).indexOf(query.activeView) && this.activeView !== query.activeView) {
        this.$store.dispatch('setSimpleState', {stateName: 'activeView', stateValue: query.activeView})
      }  
    }
    
    console.log('updated home', '====updated')
  },
  computed: {

    activeView(){
      return this.$store.state.activeView
    }
  },
  methods: {
  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_font.scss";

.home-page {
  .icon-title {
    width: 100%;
    text-align: center !important;

    line-height: 20px;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 200;

    div {
      margin: 0 auto;
      width: 130px;
      p {
        text-align: center !important;
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
}

.icon-item-block .theme--light.v-card {
    background-color: #fafafa !important;
}
</style>
