<template>
  <div class="liked-page">
    <v-container >
      <v-layout row >
        <v-flex xs12>
            <catalog-list></catalog-list>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {parseParams, parseQueryParams} from 'utils/index'

export default {
  asyncData({ store, route }) {
    
    store.dispatch('setPageDataParams', {
      headerCssClass: [],
        subTitle: null,
        insubTitle: null,
        extrasubTitle: null,
        subTitleSlogan: null,
        subTitleText: null,
        showtitlecontent: null,
        showclaim: null,
        showOwnerClaim: false,
    })

    let paramFilters = {}

    paramFilters.ids = store.getters.getLiked

    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
      store.dispatch('getEntityData', paramFilters),
      store.dispatch('getFilterData'),
    ])
  },
  components: {
    catalogList: () => import('components/_catalogList'),
  },
  data() {
    return {

    }
  },
  mounted() {
  },
  updated() {
  },
  computed: {

    items() {
      return this.$store.getters.getEntities
    },
  },
  watch: {
    // items(entities) {
    //   console.log(entities)
    // }
  },
  methods: {

  }

}

</script>
<style lang="scss">
.liked-page {
  .icon-title {
    width: 100%;
    text-align: center !important;
    div {
      margin: 0 auto;
      width: 130px;
      p {
        text-align: center !important;
        text-transform: uppercase;
      }
    }
  }
}

.icon-item-block .theme--light.v-card {
    background-color: #fafafa !important;
}
</style>
