<template>
  <div class="detail-page">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card v-if="detailPage.id">
            <v-card-title color="secondcolor" text-xs-center >
              <h1>{{detailPage.title}}</h1>
            </v-card-title>
            <v-card-text v-html="detailPage.content"></v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>

import apiUrls from 'router/apiUrls'
import NoSSR from 'vue-no-ssr'
import { truncate, formatMoney, stringToDate } from 'utils/index'

export default {
  asyncData({ store, route }) {

    store.dispatch('setPageDataParams', {
      headerCssClass: [],
      subTitle: null,
      insubTitle: null,
        extrasubTitle: null,
        subTitleSlogan: null,
        subTitleText: null,
        showtitlecontent: null,
        showclaim: null,
        showOwnerClaim: false,
    })

    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
      store.dispatch('getDetailPage', route.params.slug),
    ])
  },
  components: {
    'no-ssr': NoSSR,
  },
  data() {
    return {
      bc: [{
          text: 'Каталог',
          disabled: false,
          href: '/'
            },
            {
              text: 'Страницы',
              disabled: true,
              href: '/'
            },
          ],
    }
  },
  mounted() {

  },
  updated() {
  },
  computed: {
    loadDetailPage() {
      return this.$store.state.loadDetailpage
    },
    detailPage() {
      return this.$store.state.detailPage
    },
    
  },
  methods: {

  },
  metaInfo () {
    return {
      title: this.loadDetailEntity ? 'Fullhouse...' : this.detailPage.title,
      meta: [
        { vmid: 'description', name: 'description', content: this.detailPage.title },
        { vmid: 'description', name: 'description', content: this.detailPage.title },
      ]
    }
  }


}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.detail-page {
  color: $black;
  margin-top: -60px;

  .imgslider-block {
    position: relative;
    .imgslider-change {
      position: absolute;
      top: 23px;
      width: 17px;
      height: 92px;
      z-index: 1;
      background-color: $secondcolor;
      cursor: pointer;
      i {
        margin: 30px 5px;
      }
    }
    .imgslider-change-left {
      left: 0;
    }
    .imgslider-change-right {
      right: 0;
    }
    .imgslider-item {
      margin: 0 2px;
    }
  }

  

  #entity-howitrent {
    position: relative;
    .rotateblock-btn {
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        position: absolute;
      top: 63px;
      right: -88px;
      text-transform: uppercase;
      border-radius: 3px;
      background-color: $secondcolor;
        padding: 10px 20px;
      span {
        font-size: 15px;
        color: $white;
        font-family: "DejaVu Sans";
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .title-weekday {
    font-size: 18px;
    line-height: 48px;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 700;
  }

  .title-price {
    font-size: 32px;
    line-height: 48px;
    color: #d28456;
    font-family: "DejaVu Sans";
    font-weight: 700;
  }

  .entity-subpans {
    height: 40px;
    width: 100%;
    background-color: $secondcolor;
    color: $white;
    position: fixed;
    z-index: 2;
  }

  .entity-submenu {
    text-transform: uppercase;
    ul {
        margin-top: 10px;
        padding: 0;
        display:table;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        font-size: 12px;
        font-family: "DejaVu Sans";
        font-weight: 200;
        text-align: center;
    }
    li {
        display:table-cell;
        cursor: pointer;
    }
  }

  .v-breadcrumbs {
    padding: 10px;
  }
  a {
    color: $black;
  }
  h1 {
    font-size: $vw30;
    color: #686868;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    display: inline-block;
    padding-bottom: 15px; 
  }
  .icon-list {
    padding: 0 5px;
    svg {
       padding-top: 3px;
    }
    .v-icon {
      font-size: 32px;
    }
  }
  .info-title-block {
    padding-left: 0
  }
  .info-titles {
    background-color: $black;
    color: $white;
    height: 40px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Deja Vu Sans";
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    max-width: 600px;
    min-width: 300px;
    width: 30%;

    span {
      position: absolute;
      right: 157px;
      top: 9px;
    }
  }

  .headline {
    display: inline-block;
    padding-right: 20px;
  }
 
 
  .center-advantage {
    font-size: $vw20;
    color: #979898;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .advantage-block {
    .advantage-block-item {
    }
    .v-list__tile__avatar {
      min-width: 70px;
    }
    .v-avatar {
      border: 2px solid $secondcolor;
    }
    .v-avatar img {
      height: 30px;
      border-radius: 0;
    }
    .v-list__tile__title { 
      text-transform: uppercase;
    }
    .sptitle {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      font-family: "DejaVu Sans";
      font-weight: 700;
    }
  }
  .v-date-picker-table {
    padding: 0;
    td {
      border: 1px solid #8f8f8f;
      border-radius: 3px;
      button {
        width: 100%;
        display: block;
      }
    }
  }
  .theme--light.v-date-picker-table th {
    color: $white;
    background-color: $black;
  }
  table {
    border-spacing: 0;
  }
  .theme--light.v-picker__body {
    background: none;
  }
  .v-card.v-picker {
    box-shadow: none;
    background: none;
  }
  .date-range-inputs {
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot {
      box-shadow: none;
      border: 1px solid #888888;
      border-radius: 3px;
    }
  }
}

</style>
