<template>
  <div class="rent-page">
    <v-container align-content-center justify-center grid-list-sm   >
      <v-layout row >
        <v-flex xs12>
          <v-container grid-list-sm >
            <v-layout align-center justify-center fill-height row wrap >
              <v-flex xs12 sm4 md4 v-for="(item, i) in howitItems.slice(0,3)" :key="i"  :class="{'howit-block': true}">
                <div class="howit-item">
                  <v-badge left color="basecolor">
                    <span slot="badge">{{i+1}}</span>
                    <img :src="item.src"  :alt="item.title" />
                  </v-badge>
                  <h6 v-html="item.title"></h6>
                </div>
              </v-flex>
            </v-layout>
            <v-layout align-center justify-center fill-height row wrap >
              <v-flex xs12 sm4 md4 v-for="(item, i) in howitItems.slice(3)" :key="i"  :class="{'howit-block': true}">
                <div class="howit-item">
                  <v-badge left color="basecolor">
                    <span slot="badge">{{i+4}}</span>
                    <img :src="item.src"  :alt="item.title" />
                  </v-badge>
                  <h6 v-html="item.title"></h6>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {parseParams, parseQueryParams} from 'utils/index'

export default {
  asyncData({ store, route }) {
    store.dispatch('setPageDataParams',  {
      headerCssClass: ['bg-rent'],
      subTitle: 'С нами Ваш дом всегда полон',
       extrasubTitle: {
        strong: 'Становитесь нашим партнёром,',
        simple: 'экономьте своё время и зарабатывайте больше.',
      },
      subTitleSlogan: null,
      subTitleText: null,
      showclaim: false,
      showtitlecontent: false,
      showOwnerClaim: true,
    })
    let paramFilters = parseQueryParams(
                          Object.assign({}, route.query), 
                          Object.assign({}, store.state.paramFilters),
                           true)

    paramFilters.id__in = store.getters.getLiked
    return Promise.all([
      store.dispatch('getCurrentUser'),
      store.dispatch('getSettings'),
      store.dispatch('getMenues'),
    ])
  },
  components: {
  },
  data() {
    return {
      howitItems: [
        { title: 'Вы оставляете заявку<br />и скачиваете анкету.', src: require('assets/img/howitwork1.png') },
        { title: 'Мы связываемся с Вами<br />в ближайшее время', src: require('assets/img/howitwork2.png') },
        { title: 'Отвечаем на все Ваши вопросы,<br /> рассказываем о сотрудничестве', src: require('assets/img/howitwork3.png') },
        { title: 'Бесплатно размещаем Ваш<br/>объект на нашем сайте', src: require('assets/img/howitwork4.png') },
        { title: 'Клиенты начинают арендовать<br/>Вашу недвижимость', src: require('assets/img/howitwork5.png') },
        { title: 'Вы платите нам процент<br/>от стоимости аренды только с<br/>реальных клиентов', src: require('assets/img/howitwork6.png') },
      ],
    }
  },
  mounted() {
  },
  updated() {
  },
  computed: {

  },
  methods: {

  }

}

</script>
<style lang="scss">
.rent-page {
  .howit-block {
    max-width: 400px;
    margin-bottom: 100px;
    
  }
  .howit-item {
    .v-badge {
      padding: 0 20px 0 0;
    }
    img {
      height: 34px;
    }
    h6 {
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
      font-weight: 200;
    }
  }
}

</style>
