<template>
  <v-app>
    <header :class="pageDataParams.headerCssClass">
      <no-ssr>
      <v-container fluid >
        <v-layout row >
          <v-flex xs12>
            <v-container class="no-padding">
            <v-toolbar flat app dark height="60px" class="header-block">
              <v-toolbar-title v-if="!loadMenues">
                <img src="~assets/img/logo.png" alt="fullhouse" class="crsr-pointer" v-on:click="goTolink('/')" />
                <v-menu lazy offset-y v-if="menuItems && $vuetify.breakpoint.xsOnly" v-model="mobileHeadNav">
                  <v-btn
                    slot="activator"
                    dark
                    icon
                    v-scroll="onScroll"
                    style="position: relative;top: -5px;"
                  >
                    <v-icon>fa-bars</v-icon>
                  </v-btn>
                  <v-list >
                    <v-list-tile
                      v-for="(item, i) in menuItems"
                      :key="`fabfar${i}`"
                      @click="goTolink(getLink(item.slug))"
                      :class="{'isactive': getLink(item.slug) === $route.path, 'special': item.is_special}" 
                    >
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                     <v-list-tile
                      
                      >
                  <v-btn flat class="menu-items right-items btn-bid " color="secondcolor" >БЫСТРАЯ ЗАЯВКА</v-btn>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <v-toolbar-items v-if="menuItems && !$vuetify.breakpoint.xsOnly"  >
                  <v-btn v-for="(item, i) in menuItems" flat :class="{'menu-items': true, 'isactive': getLink(item.slug) === $route.path, 'special': item.is_special}" @click="goTolink(getLink(item.slug))" 
                    :key="`itemi${i}`">
                    {{item.title}}
                  </v-btn>
                </v-toolbar-items>
                
                <v-spacer></v-spacer>
                <v-toolbar-items class="">
                  <v-btn flat class="menu-items right-items">{{settings.SITE_PHONE}}</v-btn>
                  <v-btn flat small class="menu-items right-items btn-bid hidden-xs-only" color="secondcolor" >БЫСТРАЯ ЗАЯВКА</v-btn>
                  <v-btn flat class="menu-items right-items btn-heart" color="black" @click="$router.push({name: 'Likes'})" >{{countLike}}</v-btn>
                </v-toolbar-items>

            </v-toolbar>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>
      </no-ssr>
      <v-container fluid class="headtitle-block" v-if="pageDataParams.headerCssClass.length" >
        <v-layout align-center justify-center row fill-height >
          <v-flex xs12>
            <div class="title-text">FULL <span>HOUSE</span></div>
          </v-flex>
        </v-layout>
        
        <v-layout row 
            v-if="pageDataParams.subTitle || pageDataParams.subTitleSlogan || pageDataParams.subTitleText"
            >
          <v-flex xs12 >
            <v-container>
              <v-layout row justify-space-between v-if="pageDataParams.subTitle" >
                <v-flex xs12 class="subtitle-text text-xs-center" >
                  {{pageDataParams.subTitle}}
                  <v-container fluid >
                    <v-layout row justify-space-between>
                      <v-flex xs2 class="no-padding"></v-flex>
                      <v-flex xs2 class="no-padding border-divider-block"></v-flex>
                      <v-flex xs2 class="no-padding"></v-flex>
                    </v-layout>
                    <v-layout row justify-space-between v-if="pageDataParams.insubTitle">
                      <v-flex xs12 text-xs-center class="insubtitle-text">
                        {{pageDataParams.insubTitle.simple}} <span>{{pageDataParams.insubTitle.strong}}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <v-container :class="{'no-padding': true}" v-if="pageDataParams.extrasubTitle">
                    <v-layout row justify-space-between >
                      <v-flex xs12 text-xs-center class="extrasubtitle-text">
                        {{pageDataParams.extrasubTitle.strong}} <p>{{pageDataParams.extrasubTitle.simple}}</p>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
            <v-container v-if="pageDataParams.showOwnerClaim" class="ownerclaim-topblock no-padding">
              <v-layout align-center justify-center row wrap >
                <v-flex xs12 sm6 text-xs-center class="slogan-row-block" >
                  <h2>
                    Вы ещё не с нами ?
                    <p>присоединяйтесь!</p>
                  </h2>
                </v-flex>
              </v-layout>
              <ownerclaim></ownerclaim>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="pageDataParams.showclaim" >
          <v-flex xs12>
            <claim position="header"></claim>
          </v-flex>
        </v-layout>
        <v-layout align-center justify-center row fill-height class="title-content" v-if="pageDataParams.showtitlecontent">
          <v-flex xs12 sm8 md6 text-xs-center>
            <div class="title-content1">
              <span>Full House</span> – надёжный сервис по подбору и онлайн бронированиюжилья для отдыха и бизнеса. Мы поможем Вам    сдать,    найти и мгновенно забронировать коттедж, базу отдыха или баню в Екатеринбурге и Свердловской области 
            </div>
            <div class="title-content-sub">
              Мы поможем Вам <a href="/rent?scrollto=.ownerclaim-block">сдать</a> <a href="/?scrollto=.catalog-block">найти</a>
              и мгновенно забронировать коттедж, базу отдыха
              или баню в Екатеринбурге и Свердловской области
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </header>
    <v-content>
        <router-view></router-view>
    </v-content>
    <v-snackbar
      multi-line
      :timeout="timeoutSnackBar"
      v-for="(msg, i) in snackMsgs"
      :color="msg.color"
      v-model="msg.show"
      v-if="!loadSnackMsgs"
      :key="`msg${i}`"
      >
      {{ msg.text }}
      <v-btn flat icon @click="msg.show = false">
        <v-icon>fa-window-close-o</v-icon>
      </v-btn>
    </v-snackbar>
    <footer class="v-footer theme--dark">
      <v-container class="no-padding mt-2">
        <v-layout row >
          <v-flex xs12>
            <v-toolbar flat  dark height="60px" >
              <v-toolbar-title>
                <img src="~assets/img/logo.png" alt="fullhouse" />
              </v-toolbar-title>
            </v-toolbar>
          </v-flex>
        </v-layout>
        <v-layout row wrap  justify-space-between>
          <v-flex xs12 sm4 md3>
            <v-list v-if="settings.SITE_PHONE" >
                <v-list-tile v-for="(item, i) in footerItems" :key="`settings${i}`" 
                  v-if="!item.space" >
                    <v-list-tile-avatar>
                      <v-btn :outline="!!item.outline" icon  color="white">
                        <v-icon v-if="item.icon">{{item.icon}}</v-icon>
                        <v-img v-if="item.src" :src="item.src" /></v-img>
                      </v-btn>
                    </v-list-tile-avatar>
                    <v-list-tile-content v-if="settings[item.settingsKey]" >
                      <v-list-tile-title v-html="settings[item.settingsKey]"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <div style="height: 50px; width: 100%" v-else></div>
            </v-list>
          </v-flex>
          <v-flex xs12 sm8 md6 >
            <claim position="footer"></claim>
          </v-flex>
        </v-layout>
        <v-layout row  align-center justify-center row fill-height v-if="footerMenu">
          <v-flex xs12 text-xs-center>
            <ul class="text-xs-center footer-menu">
              <li v-for="(item,i) in footerMenu.items" :to="getLink(item.slug)" :key="`footer${i}`">
                {{item.title}}
              </li>
            </ul>
          </v-flex>
        </v-layout>

        
      </v-container>
    </footer>
  </v-app>
</template>
<script>
import Meta from 'mixins/meta'
import NoSSR from 'vue-no-ssr'

export default {
  mixins: [Meta],

  data() {
    return {
      footerItems: [
        {icon: 'fa-phone', settingsKey: 'SITE_PHONE', outline: true},
        {icon: 'fa-envelope-o', settingsKey: 'SITE_EMAIL', outline: true, },
        {space: true},
        {icon: 'fa-vk', settingsKey: 'VK_LINK'},
        {icon: 'fa-facebook', settingsKey: 'FB_LINK'},
        {icon: 'fa-odnoklassniki', settingsKey: 'OK_LINK'},
      ],
      timeoutSnackBar: 8000,
      mobileHeadNav: false,
    }
  },
  components: {
    claim: () => import('components/claimBlock'),
    ownerclaim: () => import('components/ownerClaim'),
       'no-ssr': NoSSR,
 },

  computed: {
    currentUser() {
      return this.$store.state.currentUser
    },
    snackMsgs() {
      return this.$store.state.snackMsgs
    },
    loadSnackMsgs() {
      return this.$store.state.loadSnackMsgs
    },
    loadUser() {
      return this.$store.state.loadUser
    },
    loginDialog() {
      return this.isAuthRequired && !this.$store.state.currentUser.isAuth
    },
    loadStatData() {
      return this.$store.state.loadStatData
    },
    settings() {
      return this.$store.state.appSettings || {}
    },
    topMenu() {
      return this.$store.getters.getMenu('TOP_MENU')
    },
    loadMenues() {
      return this.$store.state.loadMenues
    },
    footerMenu() {
      return this.$store.getters.getMenu('FOOTER_MENU')
    },
    menuItems() {
      return (this.$store.state.menues.find(
          menu => menu.slug === 'TOP_MENU'
        )).items
    },
    countLike() {
      return this.$store.getters.getLiked.length
    },
    pageDataParams() {
      return this.$store.state.pageDataParams
    },
    scrollOptions () {
      return {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic'
      }
    },
  },
  updated() {
    let query = Object.assign({}, this.$route.query)
    if (query.scrollto) {
      try {
        this.$vuetify.goTo(query.scrollto, this.scrollOptions)
      } catch (err) {
        
      } finally {
        delete query['scrollto']
        this.$router.replace({query})
      } 
      
    }
  },
  methods: {
    afterLogin(data) {
      for (let k in data) {
        this.$cookie.set(k, data[k], { expires: '1Y' })
      }
      this.$store.dispatch('setToken', data)
      this.$store.dispatch('getCurrentUser').then(() => {})
    },
    logout() {
      this.$store.dispatch('logoutCurrentUser').then(() => {
        this.$cookie.delete('usertoken')
      })
    },
    getLink(slug) {
      return slug
    },
    onScroll(){
      this.mobileHeadNav = false
    },
    goTolink(link) {
      document.location.href = link
    }
  },
}

</script>
<style lang="scss">
@import "~assets/scss/_global.scss";
</style>
