@font-face {
  font-family: 'Deja Vu Sans';
  src: url('~assets/fonts/djsans/dejavusans.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Deja Vu Sans';
  src: url('~assets/fonts/djsans/dejavusansbold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Deja Vu Sans Condensed';
  src: url('~assets/fonts/djsanscondensed/dejavusanscondensed.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Deja Vu Sans Condensed';
  src: url('~assets/fonts/djsanscondensed/dejavusanscondensedbold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('~assets/fonts/gotham/GothamPro.ttf');
  font-weight: normal;
  font-style: normal;
}
