@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_font.scss";

.container { max-width: 1280px; }
.crsr-pointer {
  cursor: pointer;
}
.theme--light.v-list {
  // background: rgba(255, 255, 255, 0);
}
.v-card {
  .v-btn {
    // color: rgba(0, 0, 0, 0.0);
  }
}
.second-color {
  color: $secondcolor;
}
header {
  min-height: 60px;
  font-size: $vw13;
  color: $menu-items;
  font-family: "Deja Vu Sans";
  position: relative;
  
  .v-toolbar__content {
    display: flex;
    padding: 0;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .ownerclaim-topblock {
    .slogan-row-block {
      position: relative;

    }
    .claimitems-additinal .v-list__tile__title{
      text-transform: uppercase;
      color: $white;
    }
    .theme--light.v-list {
      background: none;
    }
    h2 {
      color: $secondcolor;
      text-transform: uppercase;
      font-size: $vw35;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
      p {
      text-transform: uppercase;
        font-weight: bold;
      }
    }
    .arrowdown-block {
      width: 100%;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .v-btn--active:before, .v-btn:hover:before {
    background-color: rgba(0, 0, 0, 0.0) !important;
  }
  .isactive {
    .v-btn__content{
      color: $basecolor;
    }
  }
  
  
  .v-btn__content:hover {
    color: $basecolor;
  }

  .special {
    color: $secondcolor !important;
    .v-btn__content:hover {
      color: $secondcolor;
    }
  }

  .header-block {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-bottom: 1px solid $white;
    z-index: 9;
  }
  .top-menu {
    .menu-items {
      font-weight: 300;
      text-align: center;
    }
    .right-items {
      font-weight: bold;
    }
    .btn-heart {
        background: #000;
        // background-image: url('~assets/img/squart-heart.png');
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-attachment: fixed;
    }
  }
  .headtitle-block {
    position: absolute;
    top:  90px;

  .title-text {
    font-size: $vw90;
    line-height: 20px;
    min-height: 40px;
    color: $basecolor;
    font-family: "Gotham Pro";
    font-weight: 300;
    text-align: center;
    @media screen and (min-width: 1280px) {
      font-size: 90px;
      line-height: 20px;
    }
    span {
      color: $white;
    }
  }
  .subtitle-text {
    font-size: 25px;
    line-height: 20px;
    color: $white;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    text-align: center;
    position: relative;
    text-transform: uppercase;

    .insubtitle-text {
      font-size: 18px;
      color: $white;
      font-family: "Deja Vu Sans";
      font-weight: 300;
      span {
        font-size: $vw60;
        @media screen and (min-width: 1280px) {
          font-size: 60px;
        }
        @media screen and (max-width: 600px) {
          font-size: 30px;
        }
        color: $basecolor;
          font-weight: bold;
        }
      }
      .extrasubtitle-text {
        color: $white;
        font-family: "Deja Vu Sans";
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: 30px;

        @media screen and (max-width: 600px) {
          margin-top: 0px;
          line-height: 30px;
        }
        p {
          font-weight: 300;
          padding: 25px 0 0;
        }
      }
    }
  }
  .title-content {
    color: $white;
    font-size: $vw26;

    @media screen and (min-width: 1280px) {
      font-size: 26px;
    }
    span {
      text-transform: uppercase;
    }
    .title-content-sub {
      margin-top: 50px;

      @media screen and (max-width: 600px) {
        margin-top: 10px;
      }
      a {
        color: $secondcolor;
        text-transform: uppercase;
        padding: 0 10px;
      }
    }
  }
  .claim-block {
    .theme--light.v-card {
      background: none !important;
    }
    .claim-title {
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      font-family: "Deja Vu Sans";
      font-weight: 300;

    }
    .claim-search-btn {
      font-weight: bold;
      margin-top: 45px;
      height: 85px;
      @media  (max-width: 600px)  {
        margin-top: -20px;
      }
    }
    .left-card {
      .v-card__actions {
        width: 80%;
        margin: 0 10%;
      }

      b {
        font-size: 30;
      }
      .claim-title {

          width: 350px;
          display: contents;
      }
    }
    .right-card {
       .claim-title {
          width: 356px;
          display: contents;
      }
      .v-card__actions {
        padding: 0;
      }
    }
    form {
      .v-input__slot {
        margin-bottom: 5px;
      }
      .v-text-field--box input, .v-text-field--outline input {
        margin-top: 10px;
      }
      .v-text-field--box .v-label, .v-text-field--outline .v-label {
        top: 10px;
      }
      .v-text-field--box .v-input__slot, .v-text-field--outline .v-input__slot {
        min-height: 40px;
      }
      .v-input input {
          max-height: 30px;
      }
      .send-btn {
         font-weight: bold;

      }
      .v-input {
        font-size: 15px;
        font-family: "Deja Vu Sans";
        font-weight: 300;
      }
      .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0;
      }
      .v-input--is-focued {}
      .error--text {
        .v-text-field__details {
          margin-bottom: 8px !important;
        }
      }
    }
  }
  .btn-bid {
    height: 25px !important;
    padding: 1px 10px 1px ;
    border: 1px $secondcolor solid;
    margin-right: 10px !important;
  }
}
footer {
  height: auto;
  .v-toolbar__content {
    padding: 24px 0 0;
  }
  .v-list {
    background: none !important;
    .v-list__tile {
      padding: 0 23px 0 0 !important;
    }
    .v-list__tile__content {
      color: $basecolor;
    }
  }
  .footer-menu {
    li {
      display: inline;
      font-size: 13px;

      color: #fdfdfd;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      padding: 0 10px;
    }
  }
  .claim-block {
    
    .v-card {
      background: none;
      color: $white;
      .claim-title {
        font-size: 24px;

        @media screen and (min-width: 1280px) {
          font-size: 24px;
        }
        color: $basecolor;
        font-family: "Deja Vu Sans Condensed";
        font-weight: bold;
        text-transform: uppercase;
        justify-content: space-between;
        
        span {
          width: 99%;
        }
      }
      .v-card__text {
        padding: 0;
        padding-left: 40%;
        font-size: 13px;

        color: $white;
        font-family: "Deja Vu Sans";
        font-weight: 200;
        text-transform: uppercase;
          text-align: right;
     
        margin-bottom: 20px;
      }
      .claim-title {
        text-align: right;
        font-size: 16px;

        @media screen and (min-width: 1280px) {
          font-size: 16px;
        }
        align-items: end;
        display: block;
        flex-wrap: wrap;
        padding: 0; 
      }
   }
    .filter-claim-block {
      border: 2px solid white;
      border-radius: 3px;
      @media screen and (max-width: 600px) {
         margin: 15px 0px 10px 15px;
      }
      .v-input__control {
        min-height: 20px;
      }
      .flex {
        padding: 2px !important;
        padding-bottom: 0 ;
      }
      .v-input__slot {
        padding: 0 4px;
        margin-bottom: 0;
        .v-icon {
          font-size: 18px
        }
      }
      .v-input input {
        max-height: 25px;
        font-size: 13px;
      }
      .preppend-text {
         i {
          font-size: 12px !important;
          color: $black;
            font-style: normal;
        } 
      }
      .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0;
        height: 0;
      }
      .v-input--is-focued {}
      .error--text {
        .v-text-field__details {
          margin-bottom: 8px !important;
          height: auto !important;
        }
      }
      .text-label {
        text-transform: uppercase;
        color: $white;
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      .v-input--slider {
        margin-top: 0; 
      }
      .v-messages {
        min-height: 0;
      }
    }
    .form-claim-block-trienac::before {
      content: ''; 
      position: absolute;
      left: -15px; top: 120px;
      border: 10px solid transparent;
      border-left: 10px solid $basecolor;
    }
    .form-claim-block-trienac-active::before {
      content: ''; 
      position: absolute;
      left: -25px; top: 120px;
      border: 10px solid transparent;
      border-right: 10px solid $basecolor;
    }
    .form-left-claim-block { 
              
      .flex {
        padding:10px !important;
        padding-bottom: 0 ;
      }

    }
    .form-right-claim-block { 
      
      margin-left: 13px;
      .flex {
        padding: 0 0 15px 10px !important;
        padding-bottom: 0 ;
      }

    }
    .form-claim-block {
      border-left: 2px solid white;
      position: relative;
      .container {
        padding: 1px 24px 2px 13px;
      }
      .v-input__slot {
        padding: 0 4px;
        margin-bottom: 0;
        background-color: $white;
      }
      .v-text-field__details {
        margin-bottom: 5px;
      }
      .send-btn{
        color: $white;
        font-size: 18px;

        @media screen and (min-width: 1280px) {
          font-size: 18px;
        }
        height: 74px;
        font-weight: 500;
      }
      .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0;
        height: 0;
      }
      .v-input--is-focued {}
      .error--text {
        .v-text-field__details {
          margin-bottom: 8px !important;
          height: auto !important;
        }
      }
    }
  }
}
.bg-home {
  background-image: url(~assets/img/bg-home.png);
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 600px) { 
    height: 900px;
  }
}
.bg-about {
  background-image: url(~assets/img/bg-about.png);
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.bg-rent {
  background-image: url(~assets/img/bg-about.png);
  height: 1100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.bg-about-content {
  background-image: url(~assets/img/bg-about-content.png);
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: 1000px) { 
    height: 900px;
  }
}


.btn-heart {
  background-image: url('~assets/img/squart-heart.png'); 
  width: 42px;
  height: 35px;
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
        min-width: 42px !important;
}
.btn-like:hover {
    background-image: url('~assets/img/like_selected.png'); 
}
.btn-like {
  background-image: url('~assets/img/like.png'); 
  width: 20px;
  height: 16px;
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
  .v-ripple__container {
    width: 0 !important;
  }

}
.v-btn--active:before, .v-btn:hover:before, .v-btn:focus:before {
  background-color: rgba(255, 255, 255, 0);
}
.btn-like.active {
  background-image: url('~assets/img/like_selected.png'); 
  width: 20px;
  height: 16px;
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;

}

.border-divider-block {
    border-top: 1px solid $secondcolor;
}
.no-padding {
  padding: 0 !important
}
.pt0 {
  padding-top: 0 !important;
}
.pt10 {
  padding-top: 0 !important;
}
.pl5 {
  padding-left: 5px;
}
.pl40 {
  padding-left: 40px;
}
.pl80 {
  padding-left: 80px;
}
.title-panel-container {
  padding: 0;
}
.title-panel {
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: "Deja Vu Sans";
  font-weight: 400;
  text-transform: uppercase;
}

.btns-layer-view {
  position: relative;
  top: 5px; 
}
.filter-title {
  border-radius: 3px;
  background-color: #2d2d2d;
  height: 40px;
  padding:  10px;
  text-align: center;
}
 .title-panel-block-search {
    .panel-label {
      padding: 5px;
      padding-top: 5px;
    }
    .panel-label-count {
      div {
          display: inline-block;
          padding-top: 5px;
      }

      @media (max-width: 450px) { 
        font-size: 13px;
        
      }
    }
  }
.title-panel-block {
  border-radius: 3px;
  background-color: #2d2d2d;
  height: 40px;
  margin-left: 2px;
  padding-top: 5px;
  .search-input {
    border-radius: 3px;
    background: white;
    height: 30px;
    color: $black;
    width: 100%;
  }
  span:first-child {
    padding: 0 4px;
  }
  span {
    span {
      color: $secondcolor;
    }
  }

  .v-btn-toggle {
    background: none !important;

    float: right;
    padding-right: 12px;  
    @media (max-width: 1200px) and (min-width: 960px) { 
      padding-right: 4px;
    }
  }
  .v-btn-toggle .v-btn {
    padding: 0 5px;
    width: 28px !important;
    margin-left: 5px;

    opacity: 1;
    border-radius: 3px;

    @media (max-width: 450px) { 
          padding: 0 1px;
          width: 20px !important;
          height: 20px;
          margin-top: 6px;
          margin-left: 2px;
          opacity: 1;
          border-radius: 3px;
    }
    .v-icon {
      font-size: 20px;

      @media (max-width: 450px) { 
        font-size: 15px;
        margin-left: 3px;
      }
    }
    @media (max-width: 450px) { 
      padding-right: 4px;
    }
  }
  .v-btn:not(.v-btn--icon):not(.v-btn--flat) {
      background-color: $white;
  }
  .v-btn--active {
    background-color: $basecolor !important;
  }
  .btns-layer-sort {
    padding: 5px;
    @media screen and (max-width: 500px) {
      font-size: 12px;
      padding: 7px 1px 0 4px;

    }
    @media screen and (max-width: 400px) {
      font-size: 10px;
      padding: 7px 1px 0 1px;

    }
  }
  .btns-layer {
    @media screen and (max-width: 500px) {
    }
  }


  .menu-sort {
    padding-right: 5px;

    .v-btn {
      border-radius: 3px;
      height: 30px;
      font-weight: 300;
      justify-content: left;
      margin: 0;
      min-width: 100px;
      outline: 0;
      .v-btn__content {
      }
      padding: 0;
      padding-left: 10px;
      padding-right: 27px;

      @media screen and (max-width: 500px) {
        min-width: 70px;
        padding-left: 0px;
        padding-right: 19px;
      }
    }

    .caret-sort {
      position: relative;
      font-size: 20px;
      left: 3px;

      .fa-caret-up {
        position: absolute;
        bottom: -5px;
      }
      .fa-caret-down {
        position: absolute;
        bottom: -13px;
      }
      .fa.active:not(:hover) {
        color: $secondcolor;
      }
      .fa.active:hover {
        color: $basecolor;
      }
      .fa:hover {
        color: $basecolor;
      }
    }
  }
}

.tile-avatar {
 
  border: 2px solid $basecolor;
  border-radius: 50%; 
  width: 49px;
  height: 49px;
  margin: 0 20px 0;
  position: relative;

  min-width: 50px;

  img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 29px;
  }
}
