<template>
  <v-container class="catalog-map">
    <gmap-map :center="center" :zoom="zoom" :options="mapOptions" :streetViewControl="false" :style="`width: 100%; height: 600px`">
      <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        <v-card class="entity-card" v-if="currentItem.id" :width="$vuetify.breakpoint.xs ? 219: 444" height="176px" >
          <v-container fluid class="no-padding" >
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <v-img :height="176" v-if="currentItem.img_url" :src="currentItem.img_url" :lazy-src="currentItem.img_url" :alt="currentItem.title"></v-img>
              </v-flex>
              <v-flex xs12 sm6 >
                <v-container class="pt-2">
                  <v-layout row wrap>
                    <v-flex xs12>
                      <div class="card-title">
                        {{truncate(currentItem.title, 3, '')}}
                      </div>
                      
                    </v-flex>
                    <v-flex xs12 text-xs-center text-sm-left>
                      <v-container fluid class="pl-0 pr-0">
                        <v-layout row  v-for="attr in currentItem.show_attributes.MAP" :key="attr.id" class="icon-list" v-if="attr.img_url" >
                          <v-flex xs3>
                            <svg >       
                              <image :xlink:href="attr.img_url" :src="attr.img_url"   />
                            </svg>
                          </v-flex>
                          <v-flex xs9>
                            {{attr.title}} - <span class="strong">{{attr.rel_value}}</span>      
                          </v-flex>
                        </v-layout>
                      </v-container>
                      
                    </v-flex>
                     <v-flex xs12 text-xs-center text-sm-left>
                      <p>
                        будни
                        <span class="strong money">{{formatMoney(currentItem.price_workday, 0,  '', '&nbsp;')}}</span> руб
                      </p>
                      <p>
                        выходные
                        <span class="strong money">{{formatMoney(currentItem.price_holyday, 0,  '', '&nbsp;')}}</span> руб
                      </p>
                    </v-flex>
                  </v-layout>
                </v-container>
            </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-btn icon  @click="$router.push({ name: 'Entity', params: { slug: currentItem.slug }})" class="crsr-pointer" >
              <v-icon color="white">fa-plus</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </gmap-info-window>
      <gmap-cluster>
        <gmap-marker :key="index" v-for="(item, index) in items" :position="item.latlng" :draggable="false" :clickable="true" @click="toggleInfoWindow(item,index)">
          ></gmap-marker>
      </gmap-cluster>
    </gmap-map>
  </v-container>
</template>
<script>
import Vue from 'vue'

import { truncate, formatMoney, declOfNum } from 'utils/index'

import * as VueGoogleMaps from 'vue2-google-maps'
import GmapCluster from 'vue2-google-maps/dist/components/cluster'

Vue.use(VueGoogleMaps, {
  load: {
    key: process.env.GMAP_API_KEY,
    libraries: 'places', // This is required if you use the Autocomplete plugin
    // v: '3.26',
  },
})
Vue.component('GmapCluster', GmapCluster)
export default {
  components: {},
  data() {
    return {
      center: { lat: 56.83555872895181, lng: 60.608138828137726 },
      zoom: 15,
      imgHeight: 200,
      mapOptions: {
        disableDefaultUI: true,
      },
      currentItem: {},
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        }
      },
    }
  },
  mounted() {},
  updated() {},
  computed: {
    items() {
      return this.$store.getters.getEntities
    },
    totalPages() {
      return this.$store.getters.getTotalPages
    },
    loadEntity() {
      return this.$store.state.loadEntityData
    },
    page: {
      get() {
        return this.$store.state.paramFilters.page
      },
      set(page) {
        let query = Object.assign({}, this.$route.query)
        let paramFilters = this.$store.state.paramFilters
        query.page = page
        paramFilters.page = page
        this.$store.dispatch('setParamFilters', paramFilters)
        this.$store.dispatch('getEntityData', paramFilters)
        this.$router.replace({ query: query })
      }
    },
  },
  methods: {
    truncate,
    formatMoney,
    declOfNum,
    isLiked(itemId) {
      return itemId > 20
    },
    getAttrValue(attr) {
      if (attr.measure) {
        let measure = this.measure
        if (!isNaN(parseInt(attr.rel_value))) {
          measure = this.declOfNum(attr.rel_value, [attr.measure, `${attr.measure}а`, `${attr.measure}`])
        }
        return `${attr.rel_value} ${measure}`
      }
      return `${attr.title} ${attr.rel_value}`
    },
    toggleInfoWindow: function(item, idx) {
      this.infoWindowPos = item.latlng;
      setTimeout( () => {
        this.currentItem = item;
      }, 300)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      this.currentMidx = idx;
      setTimeout(function() {
         let el = document.getElementsByClassName('gm-style-iw')[0]
         if (el) {
          let parent = el.parentElement
          let subl = el.previousSibling
          if (subl) {
            subl.remove()
          }
            
            parent.style.overflow = 'hidden'
            // parent.style.border = '2px solid'
            // parent.style.height = '200px'
            // parent.style.top = (parseInt(parent.style.top.replace('px', '')) + 50) + 'px'
            parent.style['border-radius'] = '3px'
            // el.style.top = 0
            // el.style.left = 0
            el.style['border-radius'] = '3px'
          }
      }, 400)
    }

  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.catalog-map {
  height: 600px;

  .vue-map-container {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .entity-card {
    border-radius: 3px;
    background-color: white;

    p {
      margin-bottom: 5px;
    }
    .icon-list {
      max-height: 20px;
      .v-icon {
        padding: 0 10px;
      }
      svg {
        max-width: 20px;
        max-height: 20px;
      }

    }
    .card-title {
      font-size: 15px;
      color: $basecolor;
      font-family: "Deja Vu Sans Condensed";
      font-weight: bold;

    }
    .price-row {
      height: 50px;
    }
    .v-card__actions {
      width: 38px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
    }
  }

  .strong {
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
  }
 .money {
    color: $secondcolor;
  }
}

</style>
