<template>
  <v-container class="catalog-blocks-slider"  >
    <v-layout row wrap>
      <v-flex xs12 sm4 md3 v-for="item in items" :key="item.id" >
        <v-card class="slider-card" flat             v-if="item.img_url" >
           <div class="entity-labels">
              <v-btn
                  @click="toogleLiked(item.id)" 
                  flat 
                  :class="{'heart-label': true, 'btn-like': true, 'active': isLiked(item.id)}"></v-btn>
            </div>
          <v-img
            height="230px"
            v-if="item.img_url"
            :src="item.img_url"
            :lazy-src="item.img_url"
            :alt="item.title"
             @click="$router.push({ name: 'Entity', params: { slug: item.slug }})"
             class="crsr-pointer"
              >
            <div class="block-title">
              <v-container fluid class="no-padding">
                <v-layout row wrap>
                  <v-flex xs7 @click="$router.push({ name: 'Entity', params: { slug: item.slug }})" class="crsr-pointer">
                    <span class="strong">{{truncate(item.title, 2, '')}}</span>
                    <p>
                      {{item.bulk_man}} {{declOfNum(item.bulk_man, ['человек', 'человека', 'человек'])}}
                    </p>
                    <p v-for="attr in item.show_attributes.BLOCK" :key="attr.id" v-if="item.show_attributes" >
                      {{getAttrValue(attr)}}
                    </p>
                  </v-flex>
                  <v-flex xs5 text-xs-right>
                    выходные
                    <span class="strong">{{formatMoney(item.price_holyday, 0,  '', '&nbsp;')}}</span>
                    будни
                    <span class="strong">{{formatMoney(item.price_workday, 0,  '', '&nbsp;')}}</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
          </v-img>
          <div></div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {truncate, formatMoney, declOfNum} from 'utils/index'

export default {
  props: ['items'],
  components: {
  },
  data() {
    return {
     
    }
  },
  mounted() {
  },
  updated() {},
  computed: {
    totalPages() {
      return this.$store.getters.getTotalPages
    },
    loadEntity() {
      return this.$store.state.loadEntityData
    },
    likedItems() {
      return this.$store.getters.getLiked
    },
  },
  methods: {
    truncate,
    formatMoney,
    declOfNum,
    isLiked(itemId) {
      return this.likedItems.includes(parseInt(itemId))
    },
    toogleLiked(itemId) {
      this.$store.dispatch('makeLiked', itemId).then(() => {
        this.$cookie.set('liked', this.likedItems.join(','), { expires: '1M' })
      })

    },
    getAttrValue(attr) {
      if (attr.measure) {
        let measure = this.measure
        if (!isNaN(parseInt(attr.rel_value))) {
          measure = this.declOfNum(attr.rel_value, [attr.measure, `${attr.measure}а`, `${attr.measure}`])
        }
        return `${attr.rel_value} ${measure}`
      }
      return `${attr.title} ${attr.rel_value}`
    },
  }
}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
.catalog-blocks-slider {
  padding: 10px 0 0 2px;

  .slider-card {
    position: relative;
    padding: 10px 5px 0 5px;

    .entity-labels {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      .share-label {
        position: absolute;
        top: 3px;
        left: -1px;
        width: 82px;
        height: 22px;
        box-shadow: 0px 3px 7px rgba(37,66,70,0.2);
        background-color: $secondcolor;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-size: $vw13;

      }
      .heart-label {
        position: absolute;
        top: 0px;
        right: -20px;
      }
    }
    .block-title {
      position: absolute;
      bottom: 0;
      height: 55px;
      width: 100%;
      display: block;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.4);
      color: $white;
      padding: 3px;
      .strong {
        font-family: "Deja Vu Sans Condensed";
        font-weight: bold;
      }
    }
    .hoverbg {
      background-color: rgba(45, 45, 45, 0.6);
      .hover-btn {
        top: 30%;
        left: 39%;
      }
    }
  }
}
</style>
