<template>
  <v-container class="catalog-list" fluid>
    <v-layout row wrap>
      <v-flex xs12 v-for="item in items" :key="item.id">
        <v-card class="entity-card" height="223px">
          <div class="share-label" v-if="item.is_share">акция</div>
          <v-layout row>
            <v-flex xs5 >
              <v-carousel hide-delimiters  :interval="999999" :hide-controls="item.imgs.length < 2">
                <v-carousel-item 
                  v-for="(imgUrl,i) in item.imgs"
                  :key="i"
                  :src="imgUrl"
                ></v-carousel-item>
              </v-carousel>
            </v-flex>
            <v-flex xs7>
              <v-container class="card-data">
                <v-layout row wrap class="pb-2">
                  <v-flex sm6 hidden-xs-only>
                    <v-container fluid class="no-padding">
                      <v-layout row v-for="(attr, i) in item.static_attrs" :key="`staticattrs-${i}`" class="staticattrs propattr">
                        <v-flex sm1 hidden-xs-only class="grey-icons">
                          <svg v-if="attr.img_url" >       
                            <image :xlink:href="attr.img_url" :src="attr.img_url" />
                          </svg>    
                        </v-flex>
                        <v-flex xs12 sm11 >
                          {{attr.title}} - <span class="strong">{{attr.value}}</span>
                        </v-flex>
                      </v-layout>
                      <v-layout row v-for="attr in item.show_attributes.LIST.filter( x => x.attr_type === 'IntAttr')" :key="attr.id" class="intattrs propattr">
                        <v-flex sm1 hidden-xs-only class="grey-icons" >
                          <svg v-if="attr.img_url" >       
                            <image :xlink:href="attr.img_url" :src="attr.img_url" />
                          </svg>    
                        </v-flex>
                        <v-flex xs12 sm11>
                          {{attr.title}} - 
                          <span class="strong">{{attr.rel_value}}</span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                  <v-flex xs12 sm6 >
                    <v-card-title @click="$router.push({ name: 'Entity', params: { slug: item.slug }})" class="crsr-pointer">
                      {{truncate(item.title, 3, '')}}
                    </v-card-title>
                    <div class="share-title" v-if="item.is_share">
                      {{item.share}}
                    </div>
                  </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap>
                  <v-flex sm8 hidden-xs-only>
                    <div v-for="attr in item.show_attributes.LIST.filter( x => x.attr_type === 'BoolAttr' && x.rel_value)" :key="attr.id" class="icon-list boolattrs propattr" >
                      <div class="grey-icons" style="display: inline;">
                        <svg v-if="attr.img_url" >       
                          <image :xlink:href="attr.img_url" :src="attr.img_url"  />
                        </svg>
                      </div>
                      <span>{{attr.title}}</span>
                    </div>
                  </v-flex>
                  <v-flex xs12 sm4 text-xs-left text-sm-right >
                    <div>
                      выходные
                      <span class="strong">{{formatMoney(item.price_holyday, 0,  '', '&nbsp;')}}</span>
                    </div>
                    <div>
                      будни
                      <span class="strong">{{formatMoney(item.price_workday, 0,  '', '&nbsp;')}}</span>
                    </div>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex hidden-xs-only sm7>
                    <p v-for="attr in item.show_attributes.LIST.filter( x => x.attr_type === 'TextAttr' && x.rel_value)" :key="attr.id" class="text-list  textattrs propattr">
                      <span class="strong">{{attr.title}}:</span>
                      {{attr.rel_value}}
                    </p>
                  </v-flex>
                  <v-flex xs12 sm5 text-xs-right>
                    <v-btn block dark color="basecolor" large @click="$router.push({ name: 'Entity', params: { slug: item.slug }})">
                      забронировать
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
          <div class="entity-labels">
            <v-btn @click="toogleLiked(item.id)" flat :class="{'heart-label': true, 'btn-like': true, 'active': isLiked(item.id)}"></v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="totalPages && totalPages > 1">
      <div class="text-xs-right">
        <v-pagination v-model="page" :length="totalPages" circle color="secondcolor"></v-pagination>
      </div>
    </v-layout>
  </v-container>
</template>
<script>
import apiUrls from 'router/apiUrls'
import { truncate, formatMoney, declOfNum } from 'utils/index'

export default {
  components: {},
  data() {
    return {
    }
  },
  mounted() {},
  updated() {},
  computed: {
    items() {
      return this.$store.getters.getEntities
    },
    totalPages() {
      return this.$store.getters.getTotalPages
    },
    loadEntity() {
      return this.$store.state.loadEntityData
    },
    page: {
      get() {
        return this.$store.state.paramFilters.page
      },
      set(page) {
        let query = Object.assign({}, this.$route.query)
        let paramFilters = this.$store.state.paramFilters
        query.page = page
        paramFilters.page = page
        this.$store.dispatch('setParamFilters', paramFilters)
        this.$store.dispatch('getEntityData', paramFilters)
        this.$router.replace({ query: query })
      }
    },
    likedItems() {
      return this.$store.getters.getLiked
    },
  },
  methods: {
    truncate,
    formatMoney,
    declOfNum,
    isLiked(itemId) {
      return this.likedItems.includes(parseInt(itemId))
    },
    toogleLiked(itemId) {
      this.$store.dispatch('makeLiked', itemId).then(() => {
        this.$cookie.set('liked', this.likedItems.join(','), { expires: '1M' })
      })

    },
    getAttrValue(attr) {
      if (attr.measure) {
        let measure = this.measure
        if (!isNaN(parseInt(attr.rel_value))) {
          measure = this.declOfNum(attr.rel_value, [attr.measure, `${attr.measure}а`, `${attr.measure}`])
        }
        return `${attr.rel_value} ${measure}`
      }
      return `${attr.title} ${attr.rel_value}`
    }
  }
}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.catalog-list {
  .entity-card {
    margin: 7px 0;
    padding: 0;
    border-radius: 3px;


    .v-carousel {
      height: 223px;
    }
    
    .share-label {
      position: absolute;
      top: 3px;
      left: -1px;
      width: 82px;
      height: 22px;
      box-shadow: 0px 3px 7px rgba(37,66,70,0.2);
      background-color: $secondcolor;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      font-size: $vw13;

    }
    .entity-labels {
      position: absolute;
      top: -10px;
      right: 20px;
    }

    .card-data {
      padding-left: 10px;
      .staticattrs, .intattrs {

        svg {
           max-height: 18px;
           max-width: 20px;
        }
      }
      .boolattrs {
        font-size: 10px;
        color: #000000;
        font-family: "DejaVu Sans";
        font-weight: 200;
        text-align: left;
        margin-top: 5px;
        display: inline;
        
        span {
          margin: 0 3px;
          position: relative;
          top: -5px;
          font-size: 10px;
          color: #000000;
          font-family: "DejaVu Sans";
          font-weight: 200;
          text-align: center;
        }
        svg {
           max-height: 23px;
           max-width: 33px;
        }
      }


      p {
        margin-bottom: 2px;
      }

      .v-card__title {
        font-size: $vw18;

        @media (max-width: 600px) { 
          font-size: 12px;
        }
        @media (min-width: 1280px) { 
          font-size: 18px;
        }

        color: $black;
        font-family: "Deja Vu Sans Condensed";
        font-weight: bold;
        text-align: right;
        display: block;
        padding: 5px;
      }

      .share-title {
        font-size: 12px;
        color: #fefefe;
        font-family: "DejaVu Sans";
        font-weight: 200;
        text-align: center;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: #d28456;
      }
    }

    .icon-list {
      margin-right: 5px;
      
    }
    
  }
  .text-list {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 700;
  }
  .grey-icons {
    filter:  brightness(50%) contrast(20%);
  }

  .strong {
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
  }
}

</style>
