<template>
  <v-layout row wrap class="date-range">

      <v-flex xs12 sm6 class="date-range__picker date-range__pickers--start">
        <v-date-picker
          :next-icon="nextIcon"
          :prev-icon="prevIcon"
          :dark="dark"
          :events="highlightRange ? dateRange.dates : events"
          :event-color="highlightRange ? dateRange.colors : eventColor"
          v-model="startDate"
          :min="options.minDate"
          :max="endDate"
          :locale="locale"
          :first-day-of-week="firstDayOfWeek"
          no-title
          @change="onDateRangeChange"
        />
      </v-flex>
      <v-flex xs12 sm6 class="date-range__picker date-range__picker--end">
        <v-date-picker
          :next-icon="nextIcon"
          :prev-icon="prevIcon"
          :dark="dark"
          :min="startDate"
          :max="maxDate"
          :events="highlightRange ? dateRange.dates : events"
          :event-color="highlightRange ? dateRange.colors : eventColor"
          v-model="endDate"
          :locale="locale"prepre
          :first-day-of-week="firstDayOfWeek"
          no-title
          @change="onDateRangeChange"
        />
      </v-flex>
  </v-layout>
</template>

<script>
import { format, parse } from 'date-fns';
export default {
  name: 'v-daterange',
  props: {
    options: {
      type: Object,
      required: true,
    },
    noPresets: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    prependIcon: {
      type: String,
      default: 'event',
    },
    nextIcon: {
      type: String,
      default: 'chevron_right',
    },
    prevIcon: {
      type: String,
      default: 'chevron_left',
    },
    labels: {
      type: Object,
      default() {
        return {
          start: 'Start Date',
          end: 'End Date',
          preset: 'Presets',
        };
      },
    },
    events: {
      type: [Array, Object, Function],
      default: () => null,
    },
    eventColor: {
      type: [String, Function, Object],
      default: 'warning',
    },
    highlightRange: {
      type: Boolean,
      default: true,
    },
    highlightColors: {
      type: String,
      default: '',
    },
    locale: {
      type: String,
      default: 'en-us',
    },
    firstDayOfWeek: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      startDate: this.options.startDate,
      endDate: this.options.endDate,
      format: this.options.format,
      presets: this.options.presets,
      dateRange: {
        dates: [],
        colors: {},
      },
    };
  },
  computed: {
    formattedStartDate() {
      return this.startDate
        ? format(parse(this.startDate), this.format)
        : '';
    },
    formattedEndDate() {
      return this.endDate ? format(parse(this.endDate), this.format) : '';
    },
    highlightColorClasses() {
      if (this.highlightColors) {
        return this.highlightColors;
      }
      return;
    },
    isPresetActive() {
      return this.presets.map(
        preset =>
          preset.range[0] === this.startDate && preset.range[1] === this.endDate
      );
    },
    today() {
      return format(new Date(), 'YYYY-MM-DD');
    },
    maxDate() {
      return this.options.maxDate || this.today;
    },
  },
  watch: {
    startDate() {
      this.onDateRangeChange();
    },
    endDate() {
      this.onDateRangeChange();
    },
  },
  mounted() {
    if (this.highlightRange) this.setInRangeData();
  },
  methods: {
    onPresetSelect(presetIndex) {
      this.startDate = this.presets[presetIndex].range[0];
      this.endDate = this.presets[presetIndex].range[1];
    },
    onDateRangeChange() {
      if (this.highlightRange) this.setInRangeData();
      this.$emit('input', [this.startDate, this.endDate]);
    },
    setInRangeData() {
      const inRangeData = {
        dates: [],
        colors: {},
      };
      if (this.highlightRange) {
        const startDate = parse(this.startDate);
        const endDate = parse(this.endDate);
        const diffDays = (endDate - startDate) / (1000 * 3600 * 24);
        for (let i = 0; i <= diffDays; i += 1) {
          const date = this.addDays(startDate.toDateString(), i);
          inRangeData.dates.push(date);
          inRangeData.colors[date] = `date-range__date-in-range ${
            this.highlightColorClasses
          }`;
          if (i === 0) inRangeData.colors[date] += ' date-range__range-start';
          if (i === diffDays)
            inRangeData.colors[date] += ' date-range__range-end';
        }
      }
      this.dateRange = inRangeData;
    },
    addDays(date, days) {
      const result = parse(date);
      result.setDate(result.getDate() + days);
      return format(result, 'YYYY-MM-DD');
    },
    dayformat(date){
        let d = new Date(date);
        var weekday = new Array(7);
        weekday[0] =  "Вс";
        weekday[1] = "Пн";
        weekday[2] = "Вт";
        weekday[3] = "Ср";
        weekday[4] = "Чт";
        weekday[5] = "Пн";
        weekday[6] = "Сб";

        return weekday[d.getDay()]
    }
  },
};
</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.date-range {
  .v-date-picker-table__event {
        border-radius: 3px;
        content: "";
        display: block;
        height: 32px;
        left: 6px;
        top: 0;
        position: absolute;
        -webkit-transform: translateX(-4px);
        -ms-transform: translateX(-4px);
        transform: translateX(-4px);
        width: 100%;
        background-color: rgba(134, 211, 231, 0.25);
    }

    .v-btn--floating .v-btn__content {
        position: relative;
        z-index: 1;
        color: $black;
    }
}
.date-range .v-date-picker-header {
    background-color: $secondcolor;
    .v-date-picker-header__value strong{
        color: $white !important;
    }
}

.date-range .v-btn--floating {
    border-radius: 3px;
}

</style>