<template>
  <v-container fluid  class="filter-block no-padding">
    <v-layout row wrap v-if="!loadFilterData" >
      <v-flex xs12>
        <v-form validation="lazy">
          <v-card v-if="filterData.EntityType" class="filter-card">
            <v-container fluid class="filter-block-entitytype" >
              <v-layout row wrap>
                <v-flex xs6  v-for="(item, i) in filterData.EntityType" :key="item.slug">
                  <v-checkbox
                    v-model="currentFilter.entitytype" 
                    :label="item.title" 
                    :value="item.slug"></v-checkbox>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
          <v-card v-if="filterData.Entity" class="filter-card filter-card-entity">
            <v-container fluid class="filter-block-entity" >
              <v-layout row justify-space-between>
                <v-flex xs5 >
                  <span class="text-label pl5">дата заезда</span>
                  <v-text-field
                    solo
                    prepend-inner-icon="fa-calendar"
                    v-model="currentFilter.stay_date.gte"
                    class="grey"
                              @click="toogleShowCalendar('start')"
                              mask="##/##/####"
                              return-masked-value
                    ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <span class="text-label pl5">дата выезда</span>
                  <v-text-field
                    solo
                    prepend-inner-icon="fa-calendar"
                    v-model="currentFilter.stay_date.lte"
                    class="grey"
                              @click="toogleShowCalendar('end')"
                              mask="##/##/####"
                              return-masked-value
                    ></v-text-field>
                </v-flex>

              </v-layout>
                              <v-container class="no-padding calendarblock" v-if="showCalendar.start || showCalendar.end">
                     <daterange
                        :options="dateRangeOptions"
                        header-color="secondcolor"
                        locale="ru-ru"
                        :first-day-of-week="1"
                        no-title
                        prev-icon="fa-arrow-left"
                        next-icon="fa-arrow-right"
                        @input="onDateRangeChange"
                        :showCalendar="showCalendar"
                      />
                </v-container>
                  <div class="text-label pl5 mt-2">количество гостей</div>
               <v-layout row justify-space-between class="">
                  <v-flex xs5 class="">
                    <v-text-field
                      solo
                      prepend-inner-icon="От"
                      v-model="currentFilter.bulk_man.gte"
                      class="preppend-text grey"
                      ></v-text-field>
                  </v-flex>
                  <v-flex xs5 class="">
                    <v-text-field
                      solo
                      prepend-inner-icon="До"
                      v-model="currentFilter.bulk_man.lte"
                      class="preppend-text grey"
                      ></v-text-field>
                  </v-flex>
              </v-layout>
              <v-layout row wrap class="" v-if="filterData.Entity.paramFilters" >
                  <v-flex xs12 class="">
                      <v-range-slider
                          v-model="questRange"
                          color="basecolor"
                          track-color="white"
                          class="grey-line"
                          thumb-color="basecolor"
                          :min="filterData.Entity.paramFilters.bulk_man.gte"
                          :max="filterData.Entity.paramFilters.bulk_man.lte"
                        ></v-range-slider>
                  </v-flex>
              </v-layout>      
              <div class="text-label pl5 mt-2">стоимость</div>
              <v-layout row justify-space-between class="">
                  <v-flex xs5 class="">
                    <v-text-field
                      solo
                      prepend-inner-icon="От"
                      v-model="currentFilter.price.gte"
                      class="preppend-text grey"
                      ></v-text-field>
                  </v-flex>
                  <v-flex xs5 class="">
                    <v-text-field
                      solo
                      prepend-inner-icon="До"
                      v-model="currentFilter.price.lte"
                      class="preppend-text grey"
                      ></v-text-field>
                  </v-flex>
              </v-layout>
              <v-layout row wrap class="" v-if="filterData.Entity.paramFilters" >
                  <v-flex xs12 class="">
                    <v-range-slider
                        v-model="priceRange"
                        color="basecolor"
                        track-color="white"
                        class="grey-line"
                        thumb-color="basecolor"
                        step="500"
                          :min="filterData.Entity.paramFilters.price.gte"
                          :max="filterData.Entity.paramFilters.price.lte"
                      ></v-range-slider>
                  </v-flex>
              </v-layout>
              <v-layout row wrap class="text-xs-center">
                <div class="filter-title-show" @click="showExtraFilters = !showExtraFilters">
                  расширенный поиск 
                    <v-btn flat small icon>
                      <v-icon v-if="showExtraFilters">fa-arrow-up</v-icon>
                      <v-icon v-else>fa-arrow-down</v-icon>
                    </v-btn>
                </div>
              </v-layout>
            </v-container>
          </v-card>
           <v-card v-if="filterData.extraFilters" class="filter-card filter-card-extrafilters" v-show="showExtraFilters">
            <v-container fluid class="filter-block-extrafilters" >
              <v-layout wrap row v-if="filterData.extraFilters.BoolAttr" class="bool-attr">
                <v-flex xs6 v-for="attrItem in filterData.extraFilters.BoolAttr" :key="attrItem.id" class="text-xs-left extra-filter-block" @click="toogleFilter(attrItem,'BoolAttr')">
                  <v-container fluid class="no-padding">
                    <v-layout row wrap>
                      <v-flex xs3>
                        <div :class="{'active-icon': isActiveValue(attrItem, 'BoolAttr')}" v-if="attrItem.img_url">
                          <svg width="20" height="20" >       
                            <image :xlink:href="attrItem.img_url" :src="attrItem.img_url" width="20" height="20" />
                          </svg>
                        </div>
                        <v-icon v-else-if="attrItem.icon" :color="isActiveValue(attrItem, 'BoolAttr') ? 'secondcolor': '#363636'">fa-{{attrItem.icon}}</v-icon>
                      </v-flex>
                      <v-flex xs9>
                        {{attrItem.title}}
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {parseParams} from 'utils/index'
let utc = new Date().toJSON().slice(0,10)
  import { format, subDays, addDays } from 'date-fns';

export default {
  components: {},
  data() {
    return {
      showExtraFilters: false,
      filterTimeout: null,

      dateRangeOptions: {
        startDate: format(new Date(), 'YYYY-MM-DD'),
        endDate: format(addDays(new Date(), 3), 'YYYY-MM-DD'),
        minDate: format(new Date(), 'YYYY-MM-DD'),
        maxDate: format(addDays(new Date(), 60), 'YYYY-MM-DD'),
        format: 'DD/MM/YYYY',
      },
      showCalendar: {start: false, end: false},
    }
  },
  components: {
    daterange:  () => import('components/_claimDateRange'),
  },
  mounted() {
  },
  updated() {},
  watch: {
    currentFilter: {
      handler: function (val, oldVal) {
        

        let query = parseParams(Object.assign({}, this.$store.state.paramFilters))
        clearTimeout(this.filterTimeout)
        this.filterTimeout = setTimeout( () => {
          this.$router.push({path: this.$route.query.path, query })
        }, 500)
      },
      deep: true
    },
  },
  computed: {
    
    
    loadEntity() {
      return this.$store.state.loadEntityData
    },
    loadFilterData() {
      return this.$store.state.loadFilterData
    },
    filterData() {
      return this.$store.state.filterData
    },
    currentFilter: {
      get() {
        return this.$store.state.paramFilters
      },
      set(filters) {
        this.$store.dispatch('setParamFiltersByName', filters)
      
      }
    },
    questRange: {
      get() {
        return [this.currentFilter.bulk_man.gte, this.currentFilter.bulk_man.lte]
      },
      set(newValue) {
        this.currentFilter.bulk_man.gte = newValue[0] 
        this.currentFilter.bulk_man.lte = newValue[1] 
      }
    },
    priceRange: {
      get() {
        return [this.currentFilter.price.gte, this.currentFilter.price.lte]
      },
      set(newValue) {
        this.currentFilter.price.gte = newValue[0] 
        this.currentFilter.price.lte = newValue[1] 
      }
    },
    stay_date: {
      get() {
        return [this.currentFilter.stay_date.gte, this.currentFilter.stay_date.lte]
      },
      set(newValue) {
        this.currentFilter.stay_date.gte = newValue[0] 
        this.currentFilter.stay_date.lte = newValue[1] 
      }
    },
  },
  methods: {
    toogleShowCalendar(prop) {
      this.showCalendar[prop] = !this.showCalendar[prop]
      if (this.showCalendar.start && this.showCalendar.end)
      {
        if (prop === 'start') {
          this.showCalendar.end = false
        } else {
          this.showCalendar.start = false
        }
      }
    },
    onDateRangeChange(v) {
      v[0] = format(new Date(v[0]), 'DD/MM/YYYY')
      v[1] = format(new Date(v[1]), 'DD/MM/YYYY')
      this.stay_date = v
      this.showCalendar = {start: false, end: false}
    },
    isActiveValue(attrItem, attrName) {
      if (Array.isArray(this.currentFilter[attrName])) {
        return ~this.currentFilter[attrName].indexOf(attrItem.slug)
      }
      return false
    },
    toogleFilter(attrItem, attrName) {
      if (Array.isArray(this.currentFilter[attrName])) {
        let index = this.currentFilter[attrName].findIndex((x) => x === attrItem.slug)
        if(~index) {
          this.currentFilter[attrName].splice(index, 1)
        } else {
          this.currentFilter[attrName].push(attrItem.slug)
        }
      }
      return false
    },
  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
.filter-block {
  margin-top: 24px;
  position: relative;
  z-index: 2;
  padding: 10px;
  .calendarblock {
    position: absolute;
    z-index: 2
  }

  .v-input--selection-controls .v-input__slot {
    margin-bottom: 0px;
  }
  .theme--light.v-card {
    background-color: $white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3)
  }
  .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
  }
  .filter-card {
    margin-bottom: 10px;
    font-size: 13px;
    color: $black;
    font-family: "Deja Vu Sans";
    font-weight: 300;
    text-align: center;
  }
  .filter-title-show {
    font-size: 16px;
    color: $secondcolor;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: block;
    cursor: pointer;
    .v-btn {
      margin: 0;
    }
    .v-icon {
      font-size: 12px;
    }
  }
  .filter-block-entitytype, .filter-block-entity {
    padding: 10px;
    
  }
  .filter-card-entity {
      .v-input__control {
        min-height: 20px;
        
      }
      .v-slider__thumb {
        background: $basecolor;
      }
      .grey {

        .v-input__slot {
          background-color: #e8e8e8;
          border: 1px solid #888888;
        }
      }
      .grey-line {

        .v-slider__track__container {
            background-color: $white;
            height: 7px;
            border: 1px solid  #888888;
        }
        .v-slider__track-fill {
            height: 7px;
        }
      }
      .v-input__slot {
        padding: 0 4px;
        margin-bottom: 0;
        .v-icon {
          font-size: 18px
        }
      }
      .v-input input {
        max-height: 25px;
        font-size: 13px;
      }
      .preppend-text {
         i {
          font-size: 12px !important;
          color: $black;
            font-style: normal;
        } 
      }
      .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0;
        height: 0;
      }
      .v-input--is-focued {}
      .error--text {
        .v-text-field__details {
          margin-bottom: 8px !important;
          height: auto !important;
        }
      }
      .text-label {
        text-transform: uppercase;
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      .v-input--slider {
        margin-top: 0; 
      }
      .v-messages {
        min-height: 0;
      }
  }
  .filter-block-extrafilters {
    padding: 10px;
    padding-left: 20px;
  }
  .bool-attr {
    
  }
  .active-icon {
    filter: invert(11%) sepia(79%) saturate(1476%) hue-rotate(12deg) brightness(118%) contrast(119%);
  }
  .extra-filter-block {
    cursor: pointer;
  }
}

</style>
