<template>
  <v-container class="about-map no-padding">
    <gmap-map :center="{lat: toFloat(currentItem.LAT), lng: toFloat(currentItem.LNG)}" v-if="currentItem" :zoom="zoom" :options="mapOptions" :streetViewControl="false" :style="`width: 100%; height: 600px`">
      <gmap-info-window :options="infoOptions"  :position="{lat: toFloat(currentItem.LAT), lng: toFloat(currentItem.LNG)}" :opened="true">
        <v-card class="about-card" width="236px"  height="245px">
          <v-toolbar-title>
            <img src="~assets/img/logo.png" alt="fullhouse" />
          </v-toolbar-title>
          <v-container >
            <v-layout row wrap text-xs-center>
             <v-flex xs12 class="contact-block">
               <p>Тел.: <b>{{currentItem.SITE_PHONE}}</b></p>
               <p>email.: <b>{{currentItem.SITE_PHONE}}</b></p>
             </v-flex>
             <v-flex xs12 class="day-title-row">
               <p>БЕЗ ПЕРЕРЫВОВ</p>
               <p>БЕЗ ВЫХОДНЫХ</p>
             </v-flex>
             <v-flex xs12>
               <p>{{currentItem.SITE_ADDR}}</p>
             </v-flex>
            </v-layout>
          </v-container>

        </v-card>
      </gmap-info-window>
      <gmap-marker :position="{lat: toFloat(currentItem.LAT), lng: toFloat(currentItem.LNG)}" :draggable="true" :clickable="true" v-if="currentItem"></gmap-marker>
    </gmap-map>
  </v-container>
</template>
<script>
import Vue from 'vue'

import { truncate, formatMoney, declOfNum } from 'utils/index'

import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: process.env.GMAP_API_KEY,
    libraries: 'places', // This is required if you use the Autocomplete plugin
    // v: '3.26',
  },
})
export default {
  props: ['currentItem'],
  components: {},
  data() {
    return {
      center: { lat: 56.83555872895181, lng: 60.608138828137726 },
      zoom: 15,
      imgHeight: 200,
      mapOptions: {
        disableDefaultUI: true
      },
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
    }
  },
  mounted() {
    this.prepareInfo()
  },
  updated() {},
  computed: {
   
  },
  methods: {
    truncate,
    formatMoney,
    declOfNum,
    toFloat(x) {
      return parseFloat(x)
    },
    prepareInfo() {
      setTimeout(() => {
        this.infoWinOpen = true
         let el = document.getElementsByClassName('gm-style-iw-d')[0]
         if (el) {
          let parent = el.parentElement
          let subl = el.previousSibling
          if(subl) {
            // subl.remove()
            
          }
           //  parent.style.overflow = 'hidden'
           //  // parent.style.border = '2px solid'
           //  parent.style.height = '200px'
           //  parent.style.top = (parseInt(parent.style.top.replace('px', '')) + 50) + 'px'
           //  // parent.style['border-radius'] = '3px'
           //  el.style.top = 0
           //  el.style.left = 0
           //  // el.style['border-radius'] = '3px'
           //  // el.style['top'] = '45px'
           //  el.style['left'] = '30px'
            // el.parentNode.style['overflow'] = 'visible'
            el.style['overflow'] = 'visible'
           //  // el.parentNode.style['position'] = 'relative'
           //  el.parentNode.parentNode.parentNode.appendChild(document.getElementsByClassName('trianglebblock')[0])
           if (el.nextSibling) {
            el.nextSibling.remove() // btn close
           }

          } else {
            this.prepareInfo()
          }

      }, 400)
      // document.getElementsByClassName('gm-style-iw')[0].previousElementSibling.remove()
    }


  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
// .gm-style .gm-style-iw-c {
//   background-color:   rgba(255, 255, 255, 0) !important;
//   box-shadow: none;
// }

   // .trianglebblock {
   //  position: absolute;

   //    bottom: -67px;
   //    z-index: 111;
   //    left: -30px;

   //  .triangle-5 {
   //    width: 60px;
   //    height: 30px;
   //    border-top: solid 30px rgb(255,255,255);
   //    border-left: solid 30px transparent;
   //    border-right: solid 30px transparent;
   //  }
   // }
   .gm-style .gm-style-iw-c {
      background-color: #2d2d2d;
      padding: 0;
   }

.about-map {
  height: 600px;


  .v-toolbar__title {
    background-color: #2d2d2d;
    height: 50px;
    img {
      margin: 0 auto;
      display: block;
      padding-top: 10px;
    }
  }

  .vue-map-container {
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .day-title-row {
    text-tranform: uppercase;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    font-family: "DejaVu Sans";
    font-weight: 200;
    text-align: center;
    padding: 7px;
    p {
      color: $secondcolor;
      font-weight: 500;
      span {
        font-weight: 700;
      }
    }
    
  }

  .about-card {
    border-radius: 3px;
    background-color: white;
      font-size: 13px;
      line-height: 20px;
      color: #000000;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
    
    .contact-block {
       b {
        font-weight: 700;
       }
    }

    p {
      margin-bottom: 5px;
    }
  
    .card-title {
      font-size: $vw20;
      color: $basecolor;
      font-family: "Deja Vu Sans Condensed";
      font-weight: bold;
    }

  }

  .strong {
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
  }
 .money {
    color: $secondcolor;
  }
}

</style>
