<template>
  <v-container class="catalog-block no-padding">
    <v-layout row wrap  >
      <v-flex xs12 md3 >
        <v-container fluid class="title-panel-container">
          <v-layout row wrap>
            <v-flex xs12 class="title-panel filter-title" >
                параметры поиска
            </v-flex>
          </v-layout>
        </v-container>
        <sideBar></sideBar>
      </v-flex>
      <v-flex xs12 md9 >
        <v-container fluid class="title-panel-container">
          <v-layout row wrap>
            <v-flex xs12 sm12 md5 >
              <v-container class="title-panel pl-0 pt-0 pb-0 pr-0" fluid >
                <v-layout row class="title-panel-block title-panel-block-search">
                  <v-flex xs2 class="panel-label">
                    поиск
                  </v-flex>
                  <v-flex xs7 class="pl-1 pr-1">
                    <input v-model="search"  class="search-input" id="catalogsearch">
                  </v-flex>
                  <v-flex xs3  class="panel-label-count">
                    <div>найдено<span class="pl-1 second-color">{{countItems}}</span>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-flex>
            <v-flex xs6 sm6 md3 >
              <div  class="title-panel">
                <div class="title-panel-block title-panel-block-view">
                  <span class="btns-layer btns-layer-view" >просмотр</span>
                  <v-btn-toggle v-model="activeView" mandatory active-class="active-catalog-view">
                    <v-btn 
                      small 
                      :height="28" :width="28" 
                      v-for="(item, k) in viewChoice" :key="k"
                      :value="k">
                      <v-icon color="black">{{item.icon}}</v-icon>
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </div>
            </v-flex>
            <v-flex xs6 sm6 md4 >
                <v-container class="title-panel pl-0 pt-0 pb-0 pr-0" fluid >
                  <v-layout row class="title-panel-block title-panel-block-sort">
                    <v-flex class="btns-layer btns-layer-sort" xs7 sm6 >сортировать по</v-flex>
                    <v-flex xs5 sm6 >
                      <v-menu class="menu-sort" full-width>
                        <v-btn
                            slot="activator"
                            color="white"
                            block
                          >
                            цене
                            <div class="caret-sort">
                             <i :class="{
                                        fa: true, 
                                        'fa-caret-up': true,
                                        active: isActiveCaret('price_workday', '')}" aria-hidden="true"></i>
                              <i :class="{
                                        fa: true, 
                                        'fa-caret-down': true,
                                        active: isActiveCaret('price_workday', '-')}" aria-hidden="true"></i>
                            </div>
                          </v-btn>
                          <v-list>
                            <v-list-tile
                              v-for="(item, index) in sortChoice.price_workday"
                              :key="index"
                              @click="ordering = item.value"
                            >
                              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile>
                          </v-list>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                </v-container>
            </v-flex>
          </v-layout>
        </v-container>
        <v-slide-y-transition mode="out-in">
          <catalog-block v-if="activeView === 'block'" ></catalog-block>
          <catalog-list v-if="activeView === 'list'"></catalog-list>
          <no-ssr>
            <catalog-map v-if="activeView === 'map'"></catalog-map>
          </no-ssr>
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import apiUrls from 'router/apiUrls'
import NoSSR from 'vue-no-ssr'
import {parseParams} from 'utils/index'

export default {
  components: {},
  data() {
    return {
      filterTimeout: null, 
      search: null, 
      ordering: null, 
    }
  },
  components: {
    catalogBlock: () => import('components/_catalogBlock'),
    catalogList: () => import('components/_catalogList'),
    catalogMap: () => import('components/_catalogMap'),
    sideBar: () => import('components/_sideBar'),
    'no-ssr': NoSSR
  },
  mounted() {
    this.search = this.$route.query.search || null
  },
  updated() {
    // this.search = this.$route.query.search || null
  },
  watch: {
    search (val, oldVal) {
        if (val === '') {
          val = null
        }
        if ( (!!val && val.length > 3) || val === null) {
          clearTimeout(this.filterTimeout)
          this.filterTimeout = setTimeout( () => {
            this.$store.dispatch('setParamFiltersByName', {search: val})
            // this.$router.push({path: this.$route.query.path, query })
          }, 500)
        }
      },
    ordering (val, oldVal) {
        if (!val) {
          val = null
        }
        this.$store.dispatch('setParamFiltersByName', {ordering: val})
      },
  },
  computed: {
    sortChoice() {
      return this.$store.state.sortChoice
    },
    viewChoice() {
      return this.$store.state.viewChoice
    },
    activeView: {
      get(){
        return this.$store.state.activeView
      },
      set(newValue){
        if (~Object.keys(this.viewChoice).indexOf(newValue)) {
          this.$store.dispatch('setSimpleState', {stateName: 'activeView', stateValue: newValue})
          this.$cookie.set('activeView', newValue, { expires: '1Y' })
        }
      },
    },
    activeSort: {
      get(){
        return this.$store.state.activeSort
      },
      set(newValue){
        this.$store.dispatch('setSimpleState', {stateName: 'activeSort', stateValue: newValue})
      },
    },
    countItems() {
      return this.$store.getters.getEntitiesCount
    },
    loadEntity() {
      return this.$store.state.loadEntityData
    },
  },
  methods: {
    isActiveCaret(field, arrow) {
      if (this.$route.query.ordering) {
        return this.$route.query.ordering.split(',').includes(`${arrow}${field}`) 
      }
      return false
    }
  }

}

</script>
<style lang="scss">
.catalog-block {
  .title-panel-block-sort {
    .v-list {
      background-color: white;
    }
  }
}
</style>
