<template>
  <v-container fluid :class="{'claim-block': true, 'claim-block-footer': position === 'footer', 'claim-block-header': position === 'header'}">
    <v-layout row wrap justify-center v-if="position === 'header'">
      <v-flex xs12 sm6 md4>
        <v-card flat class="left-card">
          <v-card-title class="claim-title text-xs-center" >
            Выбирайте любой из более
            <b class="">250</b> актуальных вариантов
            в городе и области
          </v-card-title>
          <v-card-text>
          </v-card-text>
          <v-card-actions>
            <v-btn block large outline color="secondcolor" class="claim-search-btn" @click="$vuetify.goTo(scrollTarget, scrollOptions)">
              Начать поиск</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex md2 hidden-sm-and-down>
        <v-card flat>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6 md4>
        <v-card flat class="right-card">
          <v-card-title class="claim-title text-xs-center">
            Или оставляйте заявку и мы
            сами подберём дом для Вас
          </v-card-title>
          <v-form ref="claimformHead" v-model="valid" lazy-validation>
            <v-text-field dark v-model="claimformHead.name" label="Имя" color="white" outline   box
              ></v-text-field>
            <v-text-field 
              dark 
              label="Телефон *" 
              v-model="claimformHead.phone" 
              :rules="phoneEmptyRules" 
              mask="+7-9##-###-####"
              required 
              outline 
              @click.native="onFocusPhone(claimformHead)"
              return-masked-value

              color="white" ></v-text-field>
            <v-text-field dark v-model="claimformHead.email" :rules="emailRules" label="E-mail" color="white" outline ></v-text-field>
            <v-card-actions>
              <v-btn :disabled="!valid || isSendData" block large outline color="secondcolor" class="send-btn" @click="sendClaimHead" >Отправить</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row justify-center v-if="position === 'footer'">
      <v-form ref="claimform" v-model="valid" lazy-validation>
        <v-flex xs12 >
          <v-card flat class="footer-cliam" text-xs-center text-sm-right >
              <v-card-title class="claim-title pr-0" style="text-align: right;" >
                <span>заявка на подбор</span>
              </v-card-title>
              <v-card-text text-xs-center text-sm-right>
                 <span>мы предложим лучший вариант, исходя из Ваших потребностей</span>
              </v-card-text>
              <v-container fluid class="no-padding">

                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <v-card class="filter-claim-block filter-left-claim-block" v-show="claimform.showExtraFields">
                      <v-container fluid style="padding: 10px 10px 0" >
                        <v-layout row wrap>
                          <v-flex xs12 class="">
                            <v-autocomplete
                              v-model="claimform.to_entity"
                              :loading="loadingClaimSearch"
                              :items="claimSearchItems"
                              :search-input.sync="searchItems"
                              cache-items
                              clearable
                              hide-no-data
                              hide-details
                              label="Поиск..."
                              item-text="title"
                              item-value="id"
                              solo
                              append-icon=''
                            ></v-autocomplete>
                          </v-flex>
                          <v-flex xs6 class="">
                            <span class="text-label pl5">дата заезда</span>
                            <v-text-field
                              solo
                              prepend-inner-icon="fa-calendar"
                              v-model="this.claimform.stay_dates.lower"
                              @click="toogleShowCalendar('start')"
                              mask="##/##/####"
                              return-masked-value
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs6 class="">
                            <span class="text-label pl5">дата выезда</span>
                            <v-text-field
                              solo
                              prepend-inner-icon="fa-calendar"
                              v-model="this.claimform.stay_dates.upper"
                              @click="toogleShowCalendar('end')"
                              mask="##/##/####"
                              return-masked-value
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                             <v-container class="no-padding">
                                 <daterange
                                    :options="dateRangeOptions"
                                    header-color="secondcolor"
                                    locale="ru-ru"
                                    :first-day-of-week="1"
                                    no-title
                                    prev-icon="fa-arrow-left"
                                    next-icon="fa-arrow-right"
                                    @input="onDateRangeChange"
                                    :showCalendar="showCalendar"
                                  />
                            </v-container>
                          </v-flex>

                          <v-flex xs12 class="">
                            <span class="text-label pl40">количество гостей</span>
                          </v-flex>
                          <v-flex xs6 class="">
                            <v-text-field
                              solo
                              prepend-inner-icon="От"
                              v-model="claimform.guests_count.lower"
                              class="preppend-text"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs6 class="">
                            <v-text-field
                              solo
                              prepend-inner-icon="До"
                              v-model="claimform.guests_count.upper"
                              class="preppend-text"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs12 class="">
                              <v-range-slider
                                  v-model="questRange"
                                  color="basecolor"
                                  track-color="white"
                                ></v-range-slider>
                            <span class="text-label pl80">стоимость</span>
                          </v-flex>
                          <v-flex xs6 class="">
                            <v-text-field
                              solo
                              prepend-inner-icon="От"
                              v-model="claimform.prices.lower"
                              class="preppend-text"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs6 class="">
                            <v-text-field
                              solo
                              prepend-inner-icon="До"
                              v-model="claimform.prices.upper"
                              class="preppend-text"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs12 class="">
                              <v-range-slider
                                  v-model="priceRange"
                                  color="basecolor"
                                  track-color="white"
                                  :min="1000"
                                  :max="100000"
                                  :step="500"
                                ></v-range-slider>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-card :class="{'form-right-claim-block': true, 'form-claim-block': true, 'form-claim-block-trienac': !claimform.showExtraFields, 'form-claim-block-trienac-active': claimform.showExtraFields}" flat height="272" >
                      <div class="clicktriangle-block" v-on:click="claimform.showExtraFields = !claimform.showExtraFields"></div>
                       <v-container fluid class="no-padding" >
                        <v-layout row wrap>
                          <v-flex xs12>
                              <v-text-field  v-model="claimform.name"  label="Имя" color="black" 
                              solo
                              @click="claimform.showExtraFields = true"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field 
                              label="Телефон *" 
                              v-model="claimform.phone" 
                              :rules="phoneEmptyRules" 
                              mask="+7-9##-###-####"
                              required
                              solo 
                              return-masked-value
                              @click.native="onFocusPhone(claimform)"
                              @click="claimform.showExtraFields = true"
                              color="black" ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field  v-model="claimform.email" :rules="emailRules" label="E-mail" color="black" solo @click="claimform.showExtraFields = true" ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-btn :disabled="!valid || isSendData" block large color="basecolor" class="send-btn"
                              height="35px" @click="sendClaim" >Отправить</v-btn>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
          </v-card>
        </v-flex>
      </v-form>
    </v-layout>
  </v-container>
</template>
<script>
import apiUrls from 'router/apiUrls'
import {stringToDate} from 'utils/index'
let utc = new Date().toJSON().slice(0,10),
  utc2 = new Date(Date.now()+ 2 *24*60*60*1000).toJSON().slice(0,10)
  import { format, subDays, addDays } from 'date-fns';


export default {
  props: ['position'],
  components: {
    daterange:  () => import('components/_claimDateRange'),
  },
  data() {
    return {
      valid: false,
      isSendData: false,
      scrollTarget: '#catalogsearch',
      scrollOptions: {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic',
      },
      claimformHead: {
        name: '',
        phone: '',
        email: '',
        focused: '',
        stay_dates: {'lower': null, 'upper': null},
        guests_count: {'lower': 1, 'upper': 100},
        prices: {'lower': 5000, 'upper': 100000},
      },
      claimform: {
        name: '',
        phone: '',
        email: '',
        focused: '',
        stay_dates: {'lower': null, 'upper': null},
        guests_count: {'lower': 1, 'upper': 100},
        prices: {'lower': 5000, 'upper': 100000},
        search: '',
        showExtraFields: false,
      },
      notEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
      ],
      phoneEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
        (v) => v.length === 15 ||  'Поле должно содержать 15 символов',
      ],
      emailRules: [
        function(v) {
          if (v) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'email должно содержать валидный адрес'
          }
          return  true
        }
      ],
      showCalendar: {start: false, end: false},
      claimSearchItems: [],
      loadingClaimSearch: false,
      searchItems: null,
      searchItemsTimerID: null,
    }
  },
  mounted() { this.initForm() },
  updated() {  },
  watch: {  
    currentFilter: {
      handler: function(newValue) {
          console.log("Person with ID:" + newValue.id + " modified")
          console.log("New age: " + newValue.age)
      },
      deep: true
    },
    searchItems (val) {
      clearTimeout(this.searchItemsTimerID)
      let selected = this.claimSearchItems.find(x => x.id === this.claimform.to_entity) || {}
      if(val && val !== selected.title ) {
        this.searchItemsTimerID = setTimeout( () => {
          this.querySelections(val)
        }, 300)
      } 
    },
 
  },
  computed: {
    currentFilter: {
      get() {
        return this.$store.state.paramFilters
      },
      set(filters) {
        this.$store.dispatch('setParamFiltersByName', filters)
      }
    },
    bulk_man: {
      get() {
        return [this.currentFilter.bulk_man.gte, this.currentFilter.bulk_man.lte]
      },
      set(newValue) {
        this.currentFilter.bulk_man.gte = newValue[0] 
        this.currentFilter.bulk_man.lte = newValue[1] 
      }
    },
    price: {
      get() {
        return [this.currentFilter.price.gte, this.currentFilter.price.lte]
      },
      set(newValue) {
        this.currentFilter.price.gte = newValue[0] 
        this.currentFilter.price.lte = newValue[1] 
      }
    },
    stay_date: {
      get() {
        return [this.currentFilter.stay_date.gte, this.currentFilter.stay_date.lte]
      },
      set(newValue) {
        this.currentFilter.stay_date.gte = newValue[0] 
        this.currentFilter.stay_date.lte = newValue[1] 
      }
    },
    questRange: {
      get() {
        return [this.claimform.guests_count.lower, this.claimform.guests_count.upper]
      },
      set(newValue) {
        this.claimform.guests_count.lower = newValue[0] 
        this.claimform.guests_count.upper = newValue[1] 
        // this.bulk_man = newValue
      }
    },
    priceRange: {
      get() {
        return [this.claimform.prices.lower, this.claimform.prices.upper]
      },
      set(newValue) {
        this.claimform.prices.lower = newValue[0] 
        this.claimform.prices.upper = newValue[1] 
        // this.price = newValue
      }
    },
    dateRangeOptions() {
      return {
        startDate: format(this.claimform.stay_dates.upper ? stringToDate(this.claimform.stay_dates.upper, "dd/MM/yyyy", "/") : addDays(new Date(), 1), 'YYYY-MM-DD'),
        endDate: format(this.claimform.stay_dates.upper ? stringToDate(this.claimform.stay_dates.upper, "dd/MM/yyyy", "/") : addDays(new Date(), 30), 'YYYY-MM-DD'),
        minDate: format(new Date(), 'YYYY-MM-DD'),
        maxDate: format(addDays(new Date(), 30), 'YYYY-MM-DD'),
        format: 'DD/MM/YYYY',
      }
    },
  },
  methods: {
    querySelections (v) {
      if (!this.loadingClaimSearch) {
        this.loadingClaimSearch = true
        this.$http.get(apiUrls.CATALOG.ENTITY_AUTOCOMPLETE, {query: {q: v}}).then( resp => {
          this.claimSearchItems = resp.data
        }).catch( err => {
          console.log(err)
        }).finally( () => {

          this.loadingClaimSearch = false
        })
      }
       

    },
    initForm() {
      this.claimform.stay_dates = this.claimformHead.stay_dates = {'lower': this.stay_date[0], 'upper': this.stay_date[1]}
      // console.log('this.bulk_man', this.bulk_man)
      this.claimform.guests_count = this.claimformHead.guests_count = {'lower': this.bulk_man[0], 'upper': this.bulk_man[1]}
      // this.claimform.prices = this.claimformHead.prices = {'lower': this.price[0], 'upper': this.price[1]}
    },
    onDateRangeChange(v) {
      v[0] = format(new Date(v[0]), 'DD/MM/YYYY')
      v[1] = format(new Date(v[1]), 'DD/MM/YYYY')
      this.stay_date = v
      this.claimform.stay_dates = {'lower': v[0], 'upper': v[1]}
      this.showCalendar = {start: false, end: false}
    },
    onFocusPhone(form) {
      if (!form.phone) {
        form.phone = '+7-9'
      }
    },
    sendClaimHead() {
      if (this.$refs.claimformHead.validate() && !this.isSendData) {
        this.isSendData = true
        let data = JSON.parse( JSON.stringify( this.claimformHead ) )
        data.stay_dates.lower = format(stringToDate(this.claimformHead.stay_dates.lower, "dd/MM/yyyy", "/"), 'YYYY-MM-DD') 
        data.stay_dates.upper = format(stringToDate(this.claimformHead.stay_dates.upper, "dd/MM/yyyy", "/"), 'YYYY-MM-DD') 
        this.$http.post(apiUrls.CLAIM.ADD_SELECTION, data).then( resp => {
          this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Ваша заявка принята'}])
          this.cleanForm(this.claimformHead)
        }).catch( err => {
          console.log('resp', err)
        }).finally( () => {
          this.isSendData = false
        }) 
      }
    },
    sendClaim() {
      if (this.$refs.claimform.validate() && !this.isSendData) {
        this.isSendData = true
        let data = JSON.parse( JSON.stringify( this.claimform ) )
        data.stay_dates.lower = format(stringToDate(this.claimform.stay_dates.lower, "dd/MM/yyyy", "/"), 'YYYY-MM-DD') 
        data.stay_dates.upper = format(stringToDate(this.claimform.stay_dates.upper, "dd/MM/yyyy", "/"), 'YYYY-MM-DD') 

        this.$http.post(apiUrls.CLAIM.ADD_SELECTION, data).then( resp => {
          this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Ваша заявка принята'}])
          // this.$refs.claimform.reset()
          this.cleanForm(this.claimform)
        }).catch( err => {
          console.log('resp', err)
        }).finally( () => {
          this.isSendData = false
        }) 
      }
    },
    toogleShowCalendar(prop) {
      this.showCalendar[prop] = !this.showCalendar[prop]
      if (this.showCalendar.start && this.showCalendar.end)
      {
        if (prop === 'start') {
          this.showCalendar.end = false
        } else {
          this.showCalendar.start = false
        }
      }
    },
    cleanForm(form) {
      form.phone = form.email = form.name = ''
    }
  }
}

</script>
<style lang="scss">
.clicktriangle-block {
    position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 14px;
  height: 15px;
  top: 122px;
  left: -15px;
  z-index: 2;
  cursor: pointer;
}
</style>
