<template>
  <div class="entityclaim">
    <v-dialog
      v-model="dialog"
      width="500"
      
      >
      <v-btn
        slot="activator"
        color="secondcolor"
        dark
        v-if="!(stay_dates.gte && stay_dates.lte)"
      >
        Выберите даты, чтобы узнать стоимость
      </v-btn>
      <v-btn
        slot="activator"
        color="secondcolor"
        dark
        v-else
      >
        Проверить занятость
      </v-btn>

      <v-card class="sendclaim-card">
        <div class="btn-close-dialog">
        <v-btn icon @click="dialog = false" >
          <v-icon>fa-times</v-icon>
        </v-btn>
        </div>
        <v-card-title
          color="basecolor"
          primary-title
                    class="headline "

        >
          Уточнение занятости
        </v-card-title>
        <v-card-text>
          Информацию о занятости коттеджа вы
          получите на телефон и емайл в течение 30 минут
        </v-card-text>
        <v-divider></v-divider>
        <v-form ref="entityClaimForm">
          <v-container>
            <v-layout row wrap>
              <v-flex xs12>
                 <v-text-field  v-model="entityClaimForm.name" label="Имя"    
                  ></v-text-field>
                <v-text-field 
                   
                  label="Телефон *" 
                  v-model="entityClaimForm.phone" 
                  :rules="phoneEmptyRules" 
                  mask="+7-9##-###-####"
                  required 
                  @click="onFocusPhone"
                  return-masked-value
                  ></v-text-field>
                <v-text-field  v-model="entityClaimForm.email" :rules="emailRules" label="E-mail"  ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
        <v-card-actions>
          <v-btn block color="basecolor" :disabled="isLoad" @click="sendClaim">Отправить запрос</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import apiUrls from 'router/apiUrls'
import { format, subDays, addDays } from 'date-fns';

export default {
  props: ['entity'],
  components: {
  },
  data() {
    return {
      dialog: false,
      isLoad: false,
      entityClaimForm: {
        name: '',
        email: '',
        phone: '',
        stay_dates: {},
        guests_count: {},
        prices: {},
      },
      notEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
      ],
      phoneEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
        // (v) => !!v &&  'Поле должно содержать 16 символов',
      ],
      emailRules: [
        function(v) {
          if (v) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'email должно содержать валидный адрес'
          }
          return  true
        }
      ],
    }
  },
  mounted() {
    this.init()
  },
  updated() {
    this.init()
  },
  computed: {
    paramFilters(){
      return this.$store.state.paramFilters
    },
    stay_dates(){
      return this.paramFilters.stay_date
    },
  },
  methods: {
    toogleDialog() {
      this.dialog = !this.dialog
    },
    onFocusPhone() {
      if (!this.entityClaimForm.phone) {
        this.entityClaimForm.phone = '+7-9'
      }
    },
    init() {
      console.log('entityentity', this.entity)
      this.entityClaimForm['to_entity'] = this.entity.id
      this.entityClaimForm['guests_count'] = {'lower': 1, 'upper': 100}
      this.entityClaimForm['prices'] = {'lower': 1000, 'upper': 100000}

      if (this.stay_dates.gte){
          this.entityClaimForm.stay_dates.lower = format(new Date(this.stay_dates.gte), 'YYYY-MM-DD')
      }
      if (this.stay_dates.lte){
          this.entityClaimForm.stay_dates.upper = format(new Date(this.stay_dates.lte), 'YYYY-MM-DD')
      }
    },
    sendClaim() {
      if (this.$refs.entityClaimForm.validate() && !this.isLoad) {
        this.isLoad = true
        this.$http.post(apiUrls.CLAIM.ADD_SELECTION, this.entityClaimForm).then( resp => {
          this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Ваша заявка принята'}])
          this.$refs.entityClaimForm.reset()
          this.dialog = false
        }).catch( err => {

        }).finally ( () => {
          this.isLoad = false
        })
      }
    }
  }
}

</script>
<style lang="scss">
.entityclaim {
  .sendclaim-card {

  }
}
.btn-close-dialog {
  position: absolute; 
  top: 0;
  right: 0px;
}
</style>
