<template>
  <v-container class="entity-map no-padding">
    <gmap-map :center="currentItem.latlng" :zoom="zoom" :options="mapOptions" :streetViewControl="false" :style="`width: 100%; height: 600px`">
      <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        <v-card class="entity-card" v-if="currentItem.id">
          <v-container fluid class="no-padding" >
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <v-img width="200px" v-if="currentItem.img_url" :src="currentItem.img_url" :lazy-src="currentItem.img_url" :alt="currentItem.title"></v-img>
              </v-flex>
              <v-flex xs12 sm6 style="
              padding-left: 5%
                    ">
                <div class="card-title">
                  {{truncate(currentItem.title, 3, '')}}
                </div>
                <v-layout row >
                  <v-flex xs12 text-xs-center text-sm-left>
                    <p v-for="attr in currentItem.show_attributes.MAP" :key="attr.id" class="icon-list" >
                      <v-icon v-if="attr.icon">fa-{{attr.icon}}</v-icon>
                      {{attr.title}} - <span class="strong">{{attr.rel_value}}</span>
                    </p>
                  </v-flex>
                 
                </v-layout>
                <v-layout  align-end justify-center row fill-height class="price-row" >
                   <v-flex xs12 text-xs-center text-sm-left>
                    <p>
                      будни
                      <span class="strong money">{{formatMoney(currentItem.price_workday, 0,  '', '&nbsp;')}}</span> руб
                    </p>
                    <p>
                      выходные
                      <span class="strong money">{{formatMoney(currentItem.price_holyday, 0,  '', '&nbsp;')}}</span> руб
                    </p>
                  </v-flex>
                </v-layout>
            </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions>
            <v-btn icon >
              <v-icon color="white">fa-plus</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </gmap-info-window>
      <gmap-cluster>
        <gmap-marker  :position="currentItem.latlng" :draggable="true" :clickable="true">
          ></gmap-marker>
      </gmap-cluster>
    </gmap-map>
  </v-container>
</template>
<script>
import Vue from 'vue'

import { truncate, formatMoney, declOfNum } from 'utils/index'

import * as VueGoogleMaps from 'vue2-google-maps'
import GmapCluster from 'vue2-google-maps/dist/components/cluster'

Vue.use(VueGoogleMaps, {
  load: {
    key: process.env.GMAP_API_KEY,
    libraries: 'places', // This is required if you use the Autocomplete plugin
    // v: '3.26',
  },
})
Vue.component('GmapCluster', GmapCluster)
export default {
  props: ['currentItem'],
  components: {},
  data() {
    return {
      center: { lat: 56.83555872895181, lng: 60.608138828137726 },
      zoom: 15,
      imgHeight: 200,
      mapOptions: {
        disableDefaultUI: true
      },
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
    }
  },
  mounted() {},
  updated() {},
  computed: {
   
  },
  methods: {
    truncate,
    formatMoney,
    declOfNum,
    isLiked(itemId) {
      return itemId > 20
    },
    getAttrValue(attr) {
      if (attr.measure) {
        let measure = this.measure
        if (!isNaN(parseInt(attr.rel_value))) {
          measure = this.declOfNum(attr.rel_value, [attr.measure, `${attr.measure}а`, `${attr.measure}`])
        }
        return `${attr.rel_value} ${measure}`
      }
      return `${attr.title} ${attr.rel_value}`
    },

  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.entity-map {
  height: 600px;

  .vue-map-container {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .entity-card {
    border-radius: 3px;
    background-color: white;

    p {
      margin-bottom: 5px;
    }
    .icon-list {
      .v-icon {
        padding: 0 10px;
      }
    }
    .card-title {
      font-size: $vw20;
      color: $basecolor;
      font-family: "Deja Vu Sans Condensed";
      font-weight: bold;
    }
    .price-row {
      height: 50px;
    }
    .v-card__actions {
      width: 38px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
    }
  }

  .strong {
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
  }
 .money {
    color: $secondcolor;
  }
}

</style>
