<template>
  <div class="loginform-block">
      <v-form ref="loginform" v-model="valid" >
        <v-text-field
          v-model="loginForm.username"
          :rules="emailRules"
          label="E-mail"
          required
          autofocus
        ></v-text-field>
      <v-text-field
            v-model="loginForm.password"
            :append-icon="showPass ? 'visibility_off' : 'visibility'"
            :rules="passRules"
            :type="showPass ? 'text' : 'password'"
            label="Пароль"
            counter
            @click:append="showPass = !showPass"
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            @click="submit"
            :loading="isSendData ? 'loading': null"
          >
          Вход
          <span slot="loader">Авторизация...</span>
        </v-btn>
      </v-form>
        <v-layout row wrap justify-space-around >
          <v-flex xs10 sm9 v-for="(msgt, t) in msgs " :key="`recmsg${t}`">
            <v-alert
                v-for="(msg, i) in msgt"
                :value="true"
                :type="t"
                :key="`msgs${t}${i}`"
              >
                {{msg}}
              </v-alert>

          </v-flex>
        </v-layout>
  </div>  
</template>
<script>
  import apiUrls from 'router/apiUrls'
  export default {
    props: ['successCallback'],
    data: () => ({
      valid: true,
      isSendData: false,
      showPass: false,
      loginForm: {
        username: '',  
        password: ''
      },
      emailRules: [
        v => !!v || 'Обязательно для ввода',
        v => /.+@.+/.test(v) || 'E-mail должен быть адресом e-mail'
      ],
      passRules: [
        v => !!v || 'Обязательно для ввода',
        v => v.length >= 4 || 'минимум 4 символа',
      ],
      msgs: [],
    }),

    methods: {
      submit () {
        if (this.$refs.loginform.validate()) {
          // Native form submission is not yet supported
          this.$http.post(apiUrls.USER.LOGIN, this.loginForm).then( resp => {
            this.successCallback(resp.data)
          }).catch( err => {
            if (err) {
              let errors = []
              if (err.response.status === 400) {
                console.log(err.response.data)
                for ( let k in err.response.data) {
                  errors = errors.concat(err.response.data[k])
                }
              } else {
                errors.push('Что-то пошло не так =( и сервер не смог... Пожалуйста попробуйте чуть позже')
              }
              this.msgs = { error: errors }
              setTimeout( () => {
                this.msgs = {}
              }, 6000)
            }
          })
        }
      },
      clear () {
        this.$refs.loginform.reset()
      }
    }
  }
</script>