<template>
  <v-layout align-center justify-center row wrap class="ownerclaim-block" >
    <v-flex xs12 sm12 md6 lg4 offset-lg2>
      <v-list subheader class="claimitems-additinal">
         <v-list-tile
            v-for="item in claimitems"
              :key="item.title"
              avatar
            >
            <div class="tile-avatar" >
              <img :src="item.src" :style="item.styleObject" />
            </div>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>

          </v-list-tile>
      </v-list>
    </v-flex>
    <v-flex xs12 sm8 md5 offset-md1  offset-sm2 class="claimformself-formblock">
      <v-card flat :width="370" >
        <v-card-title >
          Заявка для собственника 
        </v-card-title>
        <v-card-text>
          <v-container fluid class="no-padding">
            <v-form v-model="claimform.valid" ref="claimformself" class="claimformself-form">
              <v-layout row wrap>
                <v-text-field
                  label="Имя"
                  v-model="claimform.name" 
                ></v-text-field>
              </v-layout>
              <v-layout row wrap>
                <v-text-field
                  label="Телефон"
                            v-model="claimform.phone" 
                            :rules="phoneEmptyRules" 
                            mask="+7-9##-###-####"
                            return-masked-value
                ></v-text-field>
              </v-layout>
              <v-layout row wrap>
                <v-text-field
                  label="E-mail"
                   v-model="claimform.email" :rules="emailRules"
                ></v-text-field>
              </v-layout>
              <v-layout row wrap>
                <v-btn block color="secondcolor" :disabled="!claimform.valid" @click="sendClaim" >Отправить заявку</v-btn>
              </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-title class="footer-title">
          Мы Вам перезвоним в ближайшее время
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import apiUrls from 'router/apiUrls'

export default {

  data() {
    return {
      claimitems: [
        { icon: 'fa-users', iconClass: 'basecolor white--text', title: 'большой поток клиентов', src: require('assets/img/peoples.png') },
        { icon: 'fa-cloud-upload', iconClass: 'basecolor white--text', title: 'бесплатное размещение на сайте', src: require('assets/img/download.png') },
        { icon: 'fa-thumbs-o-up', iconClass: 'basecolor white--text', title: 'бесплатная помощь', src: require('assets/img/thumbup_white.png'), styleObject: {top: '4px'} }
      ],
      claimform: {
        name: '',
        phone: '+7-',
        email: '',
        valid: true,
      },
      notEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
      ],
      phoneEmptyRules: [
        (v) => !!v || 'Это обязательное поле',
        // (v) => !!v &&  'Поле должно содержать 16 символов',
      ],
      emailRules: [
        function(v) {
          if (v) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'email должно содержать валидный адрес'
          }
          return  true
        }
      ],
      loadingClaim: false,
    }
  },
  mounted() {
    this.$store.dispatch('getSiteReviews')
  },
  updated() {
    console.log('updated', '====updated')
  },
  computed: {

   
  },
  methods: {
    sendClaim() {

      if (this.$refs.claimformself.validate() && !this.loadingClaim) {
        this.loadingClaim = true
        this.$http.post(apiUrls.CLAIM.ADD_OWNER, this.claimform).then( resp => {
          console.log(resp)
          this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Ваша заявка принята'}])
          this.$refs.claimformself.reset()
        }).catch( err => {

        }).finally( () => {
          this.loadingClaim = false
        })
      }
    }
  }

}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
.ownerclaim-block {
  position: relative;
  
  .claimitems-additinal .v-list__tile__title{
    text-transform: uppercase;
    color: $white;
    font-size: 18px;
    font-family: "DejaVu Sans";
    font-weight: 200;
  }
  .claimformself-formblock::before {
    content: "";
    position: absolute;
    background-image: url(~assets/img/2arrow.png);

    background-repeat: no-repeat;
    background-size: 500px 400px;
    width: 800px;
    height: 500px;
    left: -80px;
    top: -72px;
  }
  .claimformself-formblock {
    position: relative;
    
    .v-card .v-card__title:not(.footer-title) { 
      height: 60px !important;
      text-transform: uppercase;
      background-color: #1c1a1a;
      color: $white;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
      display: block;
    }
    .v-card .footer-title { 
      background-color: #1c1a1a;
      font-size: 13px;
      line-height: 30px;
      color: $white;
      font-family: "DejaVu Sans";
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      display: block;
      height: 50px !important;

    }
  }
}
</style>