<template>
   <v-container fluid class="no-padding review-block" v-if="items">
      <v-layout align-center justify-center >
        <v-flex xs12 sm10 md8 lg6 >
          <v-container fluid >
            <v-layout row wrap  v-for="(item, index) in reviews" :key="index" class="review-row">
              <v-flex xs12 >
                <v-card flat :height="item.content.length < 200 ? 166: undefined" >
                  <v-layout row>
                    <v-flex xs6 sm4 md3 >
                      <img src="~assets/img/person.png" :alt="item.name" />
                    </v-flex>
                    <v-flex xs6 sm8 md9 >
                      <v-card-title primary-title item.name>
                        <div>
                          <div class="headline">{{ item.name }}</div> <span>{{item.created}}</span>
                        </div>
                      </v-card-title>
                      <v-card-text v-if="item.content && !refrsh[item.id]"  >
                        <div v-if="item.fullcontent || item.content.length < 200">
                          {{item.content}}
                        </div>
                        <div v-else>
                          {{truncate(item.content, 20, '')}}
                          <div class="text-xs-right fullcontent-link"  @click="toogleContent(item)">
                            Читать отзыв полностью... 
                          </div>
                        </div>
                      </v-card-text>
                      <div class="dot-block">
                         <svg width="65" height="43">       
                          <image xlink:href="~assets/img/dot2.svg" src="~assets/img/dot2.svg"   />
                        </svg>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout row v-if="reviewForm.show">
        <v-flex xs12 text-xs-center >
          <v-container>
            <v-form ref="reviewFormAdd">
              
            <v-layout row align-center justify-end fill-height >
              <v-flex xs12 sm6 md4>
               <v-text-field
                v-model="reviewForm.name"
                label="ФИО"
                solo
                background-color="white"
                :rules="notEmptyRules" 
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
               <v-textarea
               solo
               label="ОТЗЫВ"
               background-color="white"
                v-model="reviewForm.content"
                :rules="notEmptyRules" 
                ></v-textarea>
                
              </v-flex>
            </v-layout>

            </v-form>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center >
        <v-flex xs12 sm6 md3 text-xs-center v-if="reviewForm.show" >
          <h4 class="review-add crsr-pointer" @click="createReview">Отправить отзыв</h4>
        </v-flex>
        <v-flex xs12 sm6 md3 text-xs-center v-else >
          <h4 class="review-add crsr-pointer" @click="reviewForm.show = !reviewForm.show">Написать отзыв</h4>
        </v-flex>
      </v-layout>
    </v-container>
</template>
<script>
import { truncate, formatMoney } from 'utils/index'

  export default {
    props: ['items', 'sendUrl'],
    components: {
    },
    data() {
      return {
        refrsh: {},
        reviews: [],
        isLoad: false,
        reviewForm: {
          name: '',
          content: '',
          show: false,
        },
        notEmptyRules: [
          (v) => !!v || 'Это обязательное поле',
        ],
      }
    },
    mounted() {
      this.reviews = this.items
    },
    updated() {
    },
    computed: {

    },
    methods: {
      truncate,
      toogleContent(item) {
        this.refrsh[item.id] = true
        item.fullcontent = !item.fullcontent
        this.refrsh[item.id] = false
        this.$forceUpdate()
      },
      createReview() {
        if(!this.isLoad && this.$refs.reviewFormAdd.validate()) {
          this.isLoad = true
          this.$http.post(this.sendUrl, this.reviewForm).then( resp => {
            this.$store.dispatch('addMsgs', [{color: 'success', show: true, text: 'Мы получили Ваш отзыв'}])

            this.$refs.reviewFormAdd.reset()
            this.reviewForm.show = false
          }).catch( err => {

          }).finally( () => {
            this.isLoad = false
          })
        }
      }
    },

  }
</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.review-block {
  background-color: $black;
  .v-avatar {
    width: 166px;
    height: 166px;
  }

  .review-row {
    margin-top: 20px;
    .v-card__title--primary {
      padding-top: 10px;
    }
  }
  .review-add {
    font-size: 20px;
    color: $basecolor;
    font-family: "Deja Vu Sans Condensed";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
   .fullcontent-link {
    font-size: 15px;
    color: #949393;
    font-family: "Deja Vu Sans";
    font-weight: 300;
    text-align: right;
    cursor: pointer;
  }
  .dot-block {

    position: absolute;
    top: -15px;
    right: -15px;
  }
}
</style>