<template>
  <div class="carouse-entity">
      <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop" height="500">
          <swiper-slide v-for="img in images" :key="`swiper-slide-top-${img}`">
            <v-img
              :src="img"
              :height="500"
            ></v-img>
        </swiper-slide>    
        <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
        <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
      </swiper>
      <!-- swiper2 Thumbs -->
      <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs" >
        <swiper-slide v-for="img in images" :key="`swiper-slide-${img}`" >
            <v-img
              :src="img"
            ></v-img>
        </swiper-slide>  
      </swiper>
  </div>
</template>
<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    swiper,
    swiperSlide,
  },
  props: ['images'],
  data() {
    return {
        swiperOptionTop: {
          spaceBetween: 10,
          loop: true,
          loopedSlides: 5, //looped slides should be the same
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          }
        },
        swiperOptionThumbs: {
          spaceBetween: 10,
          slidesPerView: 6  ,
          touchRatio: 0.2,
          loop: true,
          loopedSlides: 5, //looped slides should be the same
          slideToClickedSlide: true,
        }

    }
  },
  mounted() {
      this.$nextTick(() => {
        const swiperTop = this.$refs.swiperTop.swiper
        const swiperThumbs = this.$refs.swiperThumbs.swiper
        swiperTop.controller.control = swiperThumbs
        swiperThumbs.controller.control = swiperTop
      })
  },
  updated() {
  },
  computed: {
  
  },
  methods: {

  },


}

</script>
<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";
.carouse-entity {

 .swiper-container {
    background-color: $white;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%!important;
    width: 100%;
  }
  .gallery-thumbs {
    height: 90px !important;
    box-sizing: border-box;
    padding: 5px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.8;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}

</style>
